.application-form-container {
  display: flex;
  flex-direction: column;
}

.application-form-container > * {
  width: 100%;
}

.card-header {
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-card {
  margin-bottom: 25px;
}
