<h4>Modify Existing Inventory</h4>
  
<div class="metadata-row" *ngFor="let item of inventoryItems?.sort(compare)">
  <mat-form-field>
    <input #existingName disabled=true matInput placeholder="Name" name="name" value="{{item.name}}">
  </mat-form-field>
  <mat-form-field class="number">
    <input #existingPriority disabled=true matInput placeholder="Stack Priority" name="priority" value="{{item.priority}}">
  </mat-form-field>
  <mat-form-field class="number">
    <input #existingQuantity required matInput placeholder="Quantity" name="quantity" value="{{item.quantity}}" type="number" min="1" (blur)="editInventoryQuantity(item.inventoryItemId, existingQuantity.value)">
  </mat-form-field>
  <button type="button" mat-raised-button color="primary" (click)="deleteInventory(item.inventoryItemId)">-</button>
</div>