.prof-form-row {
  display: flex;
  align-items: center;
}

.prof-form-row button {
  margin-right: 8px;
}

.prof-form-field {
  margin-left: 25px;
  margin-top: 15px;
}

.new-event {
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
}

.mat-column-missions-action {
  max-width: 110px;
  min-width: 110px;
}

.mat-column-delete-action {
  max-width: 80px;
  min-width: 80px;
}

.new-event-title {
  margin-bottom: 10px;
}

.prof-form-row button:last-of-type {
  margin-right: 0;
}

mat-form-field {
  flex-grow: 1;
  width: 100%;
  margin-right: 60px;
}

h2 {
  font-size: 18px;
  width: 100%;
}

button {
  flex-grow: 0;
  flex-shrink: 0;

  height: auto;
}

.user-buttons {
  display: flex;
}

#lastLogin {
  margin: 30px 0;
}

.schedule-events-dialog {
  max-height: 65vh;
}

.datepicker-toggle {
  /*position: fixed;*/
  float: right;
  margin-top: -40px;
}

.mt-20 {
  margin-top: 20px;
}



