<div class="schedule-events-dialog">
  <h1 mat-dialog-title>Edit schedule events</h1>

  <div mat-dialog-content>
    <form [formGroup]="scheduleEventForm">
      <div class="new-event">
        <div class="new-event-title">New event</div>
        <div class="prof-form-row">
          <mat-form-field>
            <input matInput placeholder="Start date" name="begin" formControlName="begin" [matDatepicker]="startPicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle class="datepicker-toggle" matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="End date" name="end" formControlName="end" [matDatepicker]="endPicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle class="datepicker-toggle" matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
          <mat-checkbox [checked]="newEventMissionsSet()" [disabled]="true" class="prof-form-field">
            Missions set
          </mat-checkbox>
          <button mat-raised-button color="primary" (click)="addScheduleEventMissions()" class="prof-form-field">
            <mat-icon>add</mat-icon>Add Mission
          </button>
        </div>
        <div class="prof-form-row mt-20">
          <button mat-raised-button color="primary" (click)="addScheduleEvent()"><mat-icon>add</mat-icon>
            Add Event
          </button>
        </div>
      </div>
    </form>

    <mat-table class="data-table mat-elevation-z8" [dataSource]="scheduleEventsDatasource" >

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Event ID</mat-header-cell>
        <mat-cell *matCellDef="let scheduleEvent"><span class="truncate-text-left">{{scheduleEvent.id}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="begin">
        <mat-header-cell *matHeaderCellDef>Begin</mat-header-cell>
        <mat-cell *matCellDef="let scheduleEvent">{{convertToDate(scheduleEvent.begin)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef>End</mat-header-cell>
        <mat-cell *matCellDef="let scheduleEvent">{{convertToDate(scheduleEvent.end)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete-action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let scheduleEvent">
          <button mat-raised-button color="primary" (click)="deleteScheduleEvent(scheduleEvent)">Delete</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="missions-action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let scheduleEvent">
          <button mat-raised-button color="primary" (click)="editScheduleEventMissions(scheduleEvent)"><mat-icon>inventory</mat-icon> Missions</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

  </div>

  <div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="close()">Done</button>
  </div>

</div>
