<mat-card>
<h4>Add Inventory</h4>
  <div class="add-inventory-row">
    <mat-form-field class="name">
      <input #newName disabled=true required matInput placeholder="Name" name="name" [value]="selectedItem?.name">
    </mat-form-field>
    <button class="find-button" type="button" mat-raised-button color="primary" (click)="showFindItemDialog()"><mat-icon>search</mat-icon> Find Item by Name</button>
    <mat-form-field class="number">
      <input #newPriority required matInput placeholder="Stack Priority" name="priority" value="" type="number" min="0">
    </mat-form-field>
    <mat-form-field class="number">
      <input #newQuantity required matInput placeholder="Quantity" name="quantity" value="" type="number" min="0">
    </mat-form-field>
    <button type="button" mat-raised-button color="primary" [disabled]="!newName.value || !newPriority.value || !newQuantity.value" (click)="createInventory(selectedItem.id, newPriority.value, newQuantity.value)"><mat-icon>add</mat-icon> Add Item</button>
  </div>
</mat-card>
