server {

    error_page 404 =200 /${dev_getelements_socialengine_http_path_prefix}/index.html;

    listen	${dev_getelements_socialengine_http_port};
    server_name  ${dev_getelements_socialengine_dns_name};

    location = / {
        add_header Content-Type text/plain;
        return 200 'angular:1.0';
    }

    location = /${dev_getelements_socialengine_http_path_prefix}/ui/version {
        add_header Content-Type text/plain;
        return 200 'angular:1.0';
    }

    location ~ ^/${dev_getelements_socialengine_http_path_prefix}(?:/(.*))?$ {
        alias   /usr/share/nginx/html/$1;
        index  index.html;
    }

}
