.omni-chain-user-search-dialog {
  padding: 0;
  background-color: #f7f7f7;
  width: 700px;
}

.dialog-header {
  background-color: white;
  padding: 20px 46px 15px 46px;
  border-bottom: 1px solid #979797;
}

.dialog-body {
  padding: 23px 33px 33px 33px;
  min-height: 200px;
}

.dialog-body .dialog-body__table {
  background-color: white;
  border-radius: 5px;
  max-height: 400px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.mat-column-selectAction {
  width: 71px;
}

.dialog-footer {
  border-top: 1px solid #f7f7f7;
  background-color: white;
  padding: 25px 47px;
}

table {
  min-height: 200px;
}

td > div {
  max-width: 150px;
}
