<div>
  <div class="dialog-hub-title">New Token Definition Setup</div>
  <div class="dialog-hub-description">
    Select a contract and token spec for your new token definition.
  </div>
  <div>
    <mat-form-field>
      <mat-label>Contract</mat-label>
      <mat-select name="contracts" placeholder="Contract">
        <mat-option
          *ngFor="let contract of contracts"
          [value]="contract.id"
          [matTooltip]="contract.displayName"
          matTooltipPosition="left"
        >
          {{contract.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="token-spec-select">
      <mat-label>Token Spec</mat-label>
      <mat-select name="tokenspec" placeholder="Token Spec">
        <mat-option
          *ngFor="let tokenSpec of tokenSpecs"
          [value]="tokenSpec.key"
          [matTooltip]="tokenSpec.toolTip"
          matTooltipPosition="left"
        >
          {{tokenSpec.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="dialog-hub-footer">
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="openNewNeoTokenDialog()"
      >
        Ok
      </button>
      <button
        class="dialog-hub-footer__cancel"
        mat-raised-button
        (click)="close()"
      >
        Cancel
      </button>
    </div>
    <!-- <button
      mat-raised-button
      color="primary"
      (click)="openLegacyNeoTokenDialog()"
    >
      Legacy
    </button> -->
  </div>
</div>
