button,
input[type="button"] {
  margin-left: 8px;
  margin-right: 8px;
}

.mat-column-select {
  max-width: 23px;
}

.mat-column-owner {
  place-content: center;
}

.mat-column-name {
  min-width: 60px;
  margin: auto 5px;
}

.mat-column-level {
  max-width: 100px;
  min-width: 100px;
}

.mat-column {
  padding: auto 10px;
}

.mat-column-content {
  flex-shrink: 10;
  min-width: 115px;
}

.mat-column-content-action {
  max-width: 105px;
  min-width: 105px;
}

.mat-column-edit-action {
  max-width: 72px;
  min-width: 72px;
}

.mat-column-remove-action {
  max-width: 99px;
  min-width: 99px;
}

.tab {
  margin-left: 10px;
}
