<div class="data-list">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <section style="display: flex; justify-content: space-between; margin: 10px auto;">
    <div>
      <mat-form-field>
        <input matInput placeholder="Search wallets" #input disabled="true">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="addWallet()">Create Wallet</button>
      <button mat-raised-button color="primary" (click)="deleteSelectedWallets()" [disabled]="!hasSelection">Remove
        Selected
        Wallets</button>
      <span *ngIf="currentUser?.level === 'SUPERUSER'">
        <mat-button-toggle-group disabled="true" value="All">
          <mat-button-toggle value="Yours">Yours</mat-button-toggle>
          <mat-button-toggle value="Superusers">Superusers</mat-button-toggle>
          <mat-button-toggle value="Users">Users</mat-button-toggle>
          <mat-button-toggle value="All">All</mat-button-toggle>
        </mat-button-toggle-group>
      </span>

    </div>

    <span style="align-self: center;">
      Active Wallet: <a routerLink="/">Wallet</a>
    </span>

  </section>

  <mat-table class="data-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef>Owner</mat-header-cell>
      <mat-cell *matCellDef="let wallet">{{wallet.user.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let wallet"><span class="truncate-text-right">{{wallet.displayName}}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="network">
      <mat-header-cell *matHeaderCellDef>Network</mat-header-cell>
      <mat-cell *matCellDef="let wallet">NEO</mat-cell>
    </ng-container>

    <ng-container matColumnDef="content">
      <mat-header-cell *matHeaderCellDef>Content</mat-header-cell>
      <mat-cell *matCellDef="let wallet"><span style='font-weight: bold;'>N:</span>{{wallet.wallet.scrypt.n}}
        <span style='font-weight: bold; padding-left: 4px;'>R:</span>{{wallet.wallet.scrypt.r}}
        <span style='font-weight: bold; padding-left: 4px;'>P:</span>{{wallet.wallet.scrypt.p}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
      <mat-cell *matCellDef="let wallet">?</mat-cell>
    </ng-container>

    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef>Level</mat-header-cell>
      <mat-cell *matCellDef="let wallet">{{wallet.user.level}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="content-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let wallet">
        <button mat-raised-button color="primary" (click)="editWallet(wallet)" disabled="true">Contents</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let wallet">
        <button mat-raised-button color="primary" (click)="editWallet(wallet)">Edit</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remove-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let wallet">
        <button mat-raised-button color="primary" (click)="deleteWallet(wallet)">Remove</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>