.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.names {
  display: flex;
}

.item-key {
  width: 30%;
}

.item-value {
  width: 70%;
}

.full {
  width: 100%;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  font-weight: 400;

  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 5px;
}

.prelim-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.one-third {
  width: 32%;
}

.type {
  margin: auto 4px;
}

.number {
  width: 175px;
  padding: 10px;
}

.mat-dialog-actions {
  justify-content: space-between;
}
