<div style="display: flow; justify-content: space-between;">
  <h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Auth</h1>
  <form [formGroup]="oauth2AuthSchemeForm"></form>
</div>

<div mat-dialog-content>
  <form [formGroup]="oauth2AuthSchemeForm">

    <div class="form-container">

      <!--Auth Scheme Name Entry-->
      <mat-form-field style="width: 350px;">
        <input autofocus matInput placeholder="Auth Scheme Name" name="name" formControlName="name"
          matTooltip="The name of the scheme. Must be unique (internal to Elements).">
        <!-- <mat-error *ngIf="itemForm.controls.name.hasError('required')">Name is required</mat-error>-->
        <mat-error *ngIf="oauth2AuthSchemeForm.controls.name.hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <!--Validation URL Entry-->
      <mat-form-field>
        <input matInput placeholder="Validation URL" name="validationUrl" formControlName="validationUrl"
          matTooltip="The URL to send the user's token to for validation.">
        <mat-error *ngIf="oauth2AuthSchemeForm.controls.validationUrl.hasError('required')">Validation URL is required</mat-error>
      </mat-form-field>

      <!--Response Id Mapping Entry-->
      <mat-form-field>
        <input matInput placeholder="Response Id Mapping" name="responseIdMapping" formControlName="responseIdMapping"
          matTooltip="The key of the response value mapped to the user's id in the OAuth2 system (e.g. steamid).">
        <mat-error *ngIf="oauth2AuthSchemeForm.controls.responseIdMapping.hasError('required')">ResponseIdMapping is required</mat-error>
      </mat-form-field>


      <!--Headers Entry-->
      <div class="card-header">
        <button type="button" mat-raised-button color="primary" (click)="addHeader()">Add Header</button>
      </div>

      <div class="form-container">

            <mat-expansion-panel class="prelim-wrapper" cdkDragLockAxis="y" cdkDrag *ngFor="let header of headers; let i = index" [expanded]="true">

              <div class="card-header">
                Header {{i + 1}}
              </div>

              <div class="full">
                <mat-form-field class="item-key">
                  <input matInput placeholder="Key" name="key" value="{{header.key}}" (change)="updateHeader(header, i, 'key', $event)">
                </mat-form-field>

                <mat-form-field class="item-value">
                  <input matInput placeholder="Value" name="value" value="{{header.value}}" (change)="updateHeader(header, i, 'value', $event)">
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-checkbox name="From Client" [checked]="getIsChecked(header)" (change)="updateHeader(header, i, 'fromClient', $event)"
                              matTooltip="If set to true, indicates that this header will be sent from the client, and then passed along to the validation server.">
                  From Client
                </mat-checkbox>

                <button mat-raised-button color="primary" (click)="deleteHeader(i)" matTooltip="Remove"
                        matTooltipPosition="above">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

            </mat-expansion-panel>

      </div>


      <!--Params Entry-->
      <div class="card-header">
        <button type="button" mat-raised-button color="primary" (click)="addParam()">Add Param</button>
      </div>

      <div class="form-container">

          <mat-expansion-panel class="prelim-wrapper" cdkDragLockAxis="y" cdkDrag *ngFor="let param of params; let i = index" [expanded]="true">

            <div class="card-header">
              Param {{i + 1}}
            </div>

            <mat-form-field class="item-key">
              <input matInput placeholder="Key" name="key" value="{{param.key}}" (change)="updateParam(param, i, 'key', $event)">
            </mat-form-field>

            <mat-form-field class="item-value">
              <input matInput placeholder="Value" name="value" value="{{param.value}}" (change)="updateParam(param, i, 'value', $event)">
            </mat-form-field>

            <div class="form-row">
              <mat-checkbox name="From Client" [checked]="getIsChecked(param)" (change)="updateParam(param, i, 'fromClient', $event)"
                            matTooltip="If set to true, indicates that this parameter will be sent from the client, and then passed along to the validation server.">
                From Client
              </mat-checkbox>

              <button mat-raised-button color="primary" (click)="deleteParam(i)" matTooltip="Remove"
                      matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

          </mat-expansion-panel>

      </div>

    </div>
  </form>
</div>

<div mat-dialog-actions>
  <span>
    <!--OK Button-->
    <button type="button" mat-raised-button (click)="close(true)" [disabled]="!oauth2AuthSchemeForm.valid">OK</button>
    <!--Cancel Button-->
    <button type="button" mat-raised-button (click)="close(false)">Cancel</button>
  </span>
  <!--Auth Scheme Id-->
  <span *ngIf="!data.isNew" style="display: flex; flex-direction: column;" class="mat-small">
    <span>id: {{!data.isNew ? data.authScheme.id : ""}}</span>
  </span>
</div>
