<div class="move-to-tab-title">
  Move to Tab
</div>

<div class="move-to-tab-description">
  Enter the number for the target tab.
</div>
<mat-error *ngIf="error">
  Tab number {{ selectedTabIndex }} does not exist
</mat-error>
<mat-form-field>
  <mat-label>Tab Number</mat-label>
  <input
    matInput
    [value]="selectedTabIndex"
    (input)="changeSelectedTabIndex($event.target.value)"
    placeholder="Tab Number"
    name="tabNumber"
    type="number"
    min="1"
  >
</mat-form-field>

<div class="buttons">
  <button
    mat-raised-button
    color="primary"
    matTooltip="Ok"
    matTooltipPosition="above"
    [disabled]="error"
    (click)="submit()"
  >
    OK
  </button>
  <button
    mat-raised-button
    matTooltip="Cancel"
    matTooltipPosition="above"
    style="margin-left: 10px"
    (click)="close()"
  >
    Cancel
  </button>
</div>

