<div class="omni-chain-wallets-accounts-dialog">
  <div class="dialog-head">
    <div class="dialog-head__title">Wallet Accounts</div>
    <div class="dialog-head__preferred-account">
      <mat-form-field>
        <mat-label class="label">Preferred Account</mat-label>
        <mat-select class="select" [value]="preferredAccount" (selectionChange)="preferredAccount = $event.value">
          <mat-option *ngFor="let index of accountIndexes" [value]="index">
            {{index}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="dialog-body">
    <mat-card>
      <div class="dialog-body__head">
        <div>Generate</div>
        <div>Address</div>
        <div>Private Key</div>
      </div>
      <div *ngFor="let account of accounts; let i = index" class="account-row" [ngClass]="{ 'active': i === preferredAccount - 1 }">
        <div class="account-row__checkbox">
          <mat-checkbox [checked]="account.generate" disabled></mat-checkbox>
        </div>
        <div class="account-row__address">
          <mat-form-field>
            <mat-label></mat-label>
            <input
              matInput
              placeholder="Address"
              [disabled]="account.generate"
              [value]="account.address"
              readonly
            >
          </mat-form-field>
        </div>
        <div class="account-row__private-key">
          <mat-form-field>
            <mat-label></mat-label>
            <input
              matInput
              placeholder="Private Key"
              [type]="isPrivateKeyHidden ? 'password' : 'text'"
              [disabled]="account.generate"
              [value]="account.privateKey"
              readonly
            >
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          class="account-remove-button"
          color="primary"
          (click)="removeAccount(i)"
          [disabled]="wallet"
        >
          _
        </button>
      </div>
      <div class="account-row" *ngIf="!wallet">
        <div class="account-row__checkbox">
          <mat-checkbox [checked]="newGenerate" (change)="changeNewGenerate($event.checked)"></mat-checkbox>
        </div>
        <div class="account-row__address">
          <mat-form-field>
            <mat-label></mat-label>
            <input
              matInput
              placeholder="Address"
              [disabled]="newGenerate"
              [value]="newAddress"
              (input)="newAddress = $event.target.value"
            >
          </mat-form-field>
        </div>
        <div class="account-row__private-key">
          <mat-form-field>
            <mat-label></mat-label>
            <input
              matInput
              placeholder="Private Key"
              [disabled]="newGenerate"
              [value]="newPrivateKey"
              (input)="newPrivateKey = $event.target.value"
            >
          </mat-form-field>
        </div>
        <button
          class="account-remove-button"
          mat-raised-button color="primary"
          [disabled]="(!newAddress || !newPrivateKey) && !newGenerate"
          (click)="addNewAccount()"
        >
          +
        </button>
      </div>
    </mat-card>
  </div>
  <div class="dialog-footer">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="isSubmitDisabled">OK</button>
    <button mat-raised-button (click)="close()">Cancel</button>
  </div>
</div>
