<div style="display: flex; justify-content: space-between;">
    <h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Smart Contract</h1>
</div>

<div mat-dialog-content>
    <form [formGroup]="neoSmartContractForm">
        <div class="form-container">
            <div style="margin: 16px 0px;">

                <div>
                    <mat-form-field style="width: 350px;">
                        <input autofocus matInput placeholder="Smart Contract Name" name="displayName"
                            formControlName="displayName" matTooltip="The name given to this contract.">
                    </mat-form-field>

                </div>
                <div>
                    <mat-form-field style="width: 350px;">
                        <input autofocus matInput placeholder="Script Hash" name="scriptHash"
                            formControlName="scriptHash"
                            matTooltip="The script hash of the contract from the blockchain.">
                    </mat-form-field>
                </div>

                <mat-form-field>
                    <mat-label>Network</mat-label>
                    <mat-select placeholder="NEO blockchain" name="blockchain" formControlName="blockchain" 
                        matTooltip="The blockchain where this contract lives.">
                        <mat-option *ngFor="let blockchain of blockchainOptions" [value]="blockchain.key">
                            {{blockchain.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <app-json-editor-card topic="Item" [editTarget]="data.neoSmartContract"></app-json-editor-card>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <span>
        <button type="button" mat-raised-button (click)="close(true)"
            [disabled]="!neoSmartContractForm.valid">OK</button>
        <button type="button" mat-raised-button (click)="close(false)">Cancel</button>
    </span>
    <span *ngIf="!data.isNew" style="display: flex; flex-direction: column;" class="mat-small">
        <span>id: {{!data.isNew ? data.neoSmartContract.id : ""}}</span>
    </span>
</div>