[submodule "socialengine-jnlua"]
	path = socialengine-jnlua
	url = http://bitbucket.namazustudios.net/scm/soc/socialengine-jnlua.git
[submodule "search-tools"]
	path = search-tools
	url = http://bitbucket.namazustudios.net/scm/soc/search-tools.git
[submodule "index-storage"]
	path = index-storage
	url = http://bitbucket.namazustudios.net/scm/soc/index-storage.git

