target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
*.iml
test-repositories
node_modules
.DS_Store

#IntelliJ Configurations (except shared run configurations
.idea/jarRepositories.xml
.idea/artifacts/
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/.name
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/jarRepositories.xml
.idea/dictionaries
^.idea/runConfigurations/*

# Files typically created by running the local applicatio in the IDE

/storage.unixfs/*
/storage.xodus.scheduler/*
/instance-id.txt
/verbose.log
/repositories/*
/host_key
/script-storage/*
/script-storage-28884/*
/script-repos/*
/tmp
