.token-media-container {
    position: relative;
}

.token-media-container .btn-close {
    position: absolute;
    cursor: pointer;
    top: -35px;
    right: -10px;
}

.token-media-container .media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 15px 15px 15px;
    min-height: 400px;
    background-color: #D8D8D8;
    border: 1px solid #979797;
}

.token-media-container .media img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.token-media-container .media video {
    width: 100%;
    height: 100%;
}