<div>
  <div *ngIf="type === MetadataSpecPropertyType.STRING" class="std-field">
    <mat-form-field>
      <mat-label>Placeholder</mat-label>
      <input
        matInput
        placeholder="Placeholder Text"
        type="text"
        [value]="field?.placeholder || ''"
        (change)="onPlaceholderChange($event.target.value)"
      >
    </mat-form-field>
  </div>
  <div *ngIf="type === MetadataSpecPropertyType.NUMBER" class="std-field">
    <mat-form-field>
      <mat-label>Placeholder</mat-label>
      <input
        matInput
        placeholder="Placeholder Text"
        name="string"
        type="text"
        [value]="field?.placeholder || ''"
        (change)="onPlaceholderChange($event.target.value)"
      >
    </mat-form-field>
  </div>
  <div *ngIf="type === 'TAGS'" class="std-field">
    <mat-form-field>
      <mat-label>Placeholder</mat-label>
      <input
        matInput
        placeholder="Placeholder Text"
        name="string"
        type="text"
        [value]="field?.placeholder || ''"
        (change)="onPlaceholderChange($event.target.value)"
      >
    </mat-form-field>
  </div>
  <div *ngIf="type === 'ARRAY'" class="std-field">
    <mat-form-field>
      <mat-label>Placeholder</mat-label>
      <input
        matInput
        placeholder="Placeholder Text"
        name="string"
        type="text"
        [value]="field?.placeholder || ''"
        (change)="onPlaceholderChange($event.target.value)"
      >
    </mat-form-field>
  </div>
  <div *ngIf="type === MetadataSpecPropertyType.OBJECT">
    <div class="nested-prop-preview" *ngIf="field.properties && field.properties.length > 0">
      Nested properties: {{propertiesPrieview(field.properties)}}</div>
    <button
      mat-raised-button
      color="primary"
      (click)="openDefineModal()"
    >
      <span *ngIf="field.properties && field.properties.length > 0">Update nested properties</span>
      <span *ngIf="!field.properties || field.properties.length < 1">Add nested properties</span>
    </button>
  </div>
<!--  <div class="array-field-wrapper" *ngIf="type === 'ARRAY'">-->
<!--    <div class="array-field">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Array Content Type</mat-label>-->
<!--        <mat-select-->
<!--          name="arrayContentType"-->
<!--          placeholder="Type"-->
<!--          [value]="selectedArrayType"-->
<!--          (selectionChange)="selectArrayType($event.value)"-->
<!--        >-->
<!--          <mat-option-->
<!--            *ngFor="let arrayType of arrayTypes"-->
<!--            [value]="arrayType"-->
<!--            [matTooltip]="arrayType"-->
<!--            matTooltipPosition="left"-->
<!--          >-->
<!--            {{arrayType}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <button-->
<!--        mat-raised-button-->
<!--        *ngIf="selectedArrayType === 'OBJECT'"-->
<!--        color="primary"-->
<!--        class="add-tab"-->
<!--        style="margin-left: 15px"-->
<!--        (click)="openDefineModal()"-->
<!--      >-->
<!--        Define-->
<!--      </button>-->
<!--    </div>-->
<!--    <div *ngIf="selectedArrayType === 'STRING'" class="array-field__default-placeholder">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Placeholder</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Placeholder Text"-->
<!--          name="string"-->
<!--          type="text"-->
<!--          [value]="field?.placeholder || ''"-->
<!--          (change)="onPlaceholderChange($event.target.value)"-->
<!--        >-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Default</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Default Text"-->
<!--          name="string"-->
<!--          type="text"-->
<!--          [value]="field?.defaultValue || ''"-->
<!--          (change)="onDefaultValueChange($event.target.value)"-->
<!--        >-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <div *ngIf="selectedArrayType === 'NUMBER'" class="array-field__default-placeholder">-->
<!--      <mat-form-field>-->
<!--        <mat-label>Placeholder</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Placeholder Text"-->
<!--          type="text"-->
<!--          [value]="field?.placeholder || ''"-->
<!--          (change)="onPlaceholderChange($event.target.value)"-->
<!--        >-->
<!--      </mat-form-field>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Default</mat-label>-->
<!--        <input-->
<!--          matInput-->
<!--          placeholder="Default Number"-->
<!--          type="number"-->
<!--          [value]="field?.defaultValue || ''"-->
<!--          (change)="onNumberDefaultValueChange($event.target.value)"-->
<!--        >-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </div>-->
</div>
