button,
input[type="button"] {
  margin-left: 8px;
  margin-right: 8px;
}

.mat-column-select {
  max-width: 23px;
}

.mat-column-name {
  min-width: 60px;
  margin: auto 5px;
}

.mat-column {
  padding: auto 10px;
}

.mat-column-edit-action {
  max-width: 80px;
  min-width: 80px;
}

.mat-column-define-nft-action {
  max-width: 120px;
  min-width: 120px;
}

.mat-column-manifest-action {
  max-width: 105px;
  min-width: 105px;
}

.mat-column-remove-action {
  max-width: 99px;
  min-width: 99px;
}