.mat-dialog-container {
  padding: 0;
  background-color: #f7f7f7;
}

.omni-chain-vault-wallets-dialog {
  width: 700px;
  background-color: #f7f7f7;
}

.dialog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: white;
  padding: 0 38px 0 46px;
  border-bottom: 1px solid #979797;
}

.dialog-head .dialog-head__label {
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.dialog-head .dialog-head__close {
  text-decoration: underline;
  cursor: pointer;
}

.dialog-body {
  padding: 23px 33px 33px 33px;
}

.dialog-body .dialog-body__table {
  background-color: white;
  border-radius: 5px;
  max-height: 400px;
  padding-bottom: 20px;
  overflow-y: auto;
}

td button {
  font-size: 14px;
  padding: 0;
}

.remove-button {
  width: 37px;
  max-width: 37px;
  min-width: 37px;
  padding: 0;
}

.mat-column-editAction {
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

.mat-column-removeAction {
  max-width: 37px;
  min-width: 37px;
  width: 37px;
  padding-left: 13px;
}

table {
  width: 100%;
  box-shadow: 0px -4px 5px 1px rgba(0, 0, 0, 0.14);
}

.add-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 24px;
  padding-top: 5px;
}

.add-row button {
  width: 37px;
  min-width: 37px;
}
