<div class="inventory-dialog">
  <h1 mat-dialog-title>Edit Inventory</h1>
  <div mat-dialog-content>
    <form [formGroup]="profileForm">
      <div class="prof-form-container">
        <div class="prof-form-row">
          <mat-form-field>
            <input matInput [readonly]=true placeholder="User Id" name="userId" formControlName="userId" [value]="data.user ? data.user.id : ''">
          </mat-form-field>
          <mat-form-field>
            <input matInput [readonly]=true placeholder="User Name" name="userName" formControlName="userName" [value]="data.user ? data.user.name : ''">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <app-inventory-editor [userId]="userId"></app-inventory-editor>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="close()">Done</button>
  </div>
</div>

  