.enum-field {
  position: relative;
  width: 100%;
}

.enum-field mat-form-field {
  width: 100%;
}

.mat-form-field-flex {
  background: transparent;
}

.help-description {
  position: absolute;
  left: 70px;
  top: -3px;
  font-size: 18px;
  z-index: 10;
}

.array-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
