<h1 mat-dialog-title>iOS App Store Application Configuration</h1>

<div mat-dialog-content>
  <form [formGroup]="appIdForm">
    <mat-form-field>
      <input matInput placeholder="Application Configuration Name (Typically Application ID)" name="applicationId" formControlName="applicationId">
      <mat-error *ngIf="appIdForm.controls.applicationId.hasError('required')">Application ID is required</mat-error>
    </mat-form-field>
    <div formGroupName="appleSignInConfiguration">
      <mat-form-field>
        <input matInput placeholder="Team ID" name="teamId" formControlName="teamId" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Client ID (App ID or App Group id)" name="clientId" formControlName="clientId" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Key ID" name="keyId" formControlName="keyId">
      </mat-form-field>
      <mat-form-field>
          <textarea
              matInput
              placeholder="Apple Sign-In Private Key"
              name="appleSignInPrivateKey"
              formControlName="appleSignInPrivateKey">
          </textarea>
      </mat-form-field>
    </div>
  </form>
  <app-product-bundle-list [productBundles]="productBundles"></app-product-bundle-list>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="close(true)" [disabled]="!appIdForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="close()">Cancel</button>
</div>
