<div class="data-list">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field>
    <input matInput placeholder="Search NFTs" #input disabled="true">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addToken()">Define NFT</button>
  <button mat-raised-button color="primary" (click)="deleteSelectedTokens()" [disabled]="!hasSelection">Delete
    Selected</button>

  <!-- <mat-button-toggle-group>
      <mat-button-toggle value="Yours">Yours</mat-button-toggle>
      <mat-button-toggle value="Superusers">Superusers</mat-button-toggle>
      <mat-button-toggle value="Users">Users</mat-button-toggle>
      <mat-button-toggle value="All">All</mat-button-toggle>
    </mat-button-toggle-group> -->

  <span style="float:right">
      Active Wallet: <a routerLink="/">Wallet</a>
    </span>

  <mat-table class="data-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let token">{{token.token.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalSupply">
      <mat-header-cell *matHeaderCellDef>Total Supply</mat-header-cell>
      <mat-cell *matCellDef="let token"><span class="truncate-text-right">{{token.totalMintedQuantity}} / {{token.token.totalSupply}}</span></mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="spec">
        <mat-header-cell *matHeaderCellDef>Spec</mat-header-cell>
        <mat-cell *matCellDef="let token"><span class="truncate-text-right">NEP11?</span></mat-cell>
      </ng-container> -->
    <ng-container matColumnDef="network">
      <mat-header-cell *matHeaderCellDef>Network</mat-header-cell>
      <mat-cell *matCellDef="let token"><span class="truncate-text-right">NEO</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="transferOptions">
      <mat-header-cell *matHeaderCellDef>Transfer</mat-header-cell>
      <mat-cell *matCellDef="let token"><span [matTooltip]="getTransferOptionsToolTip(token.token.transferOptions)" class="truncate-text-right">{{token.token.transferOptions |
          transferOptions: "label"}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="accessOption">
      <mat-header-cell *matHeaderCellDef>Public</mat-header-cell>
      <mat-cell *matCellDef="let token"><span class="truncate-text-right">{{token.token.accessOption |
          titlecase}}</span></mat-cell>
    </ng-container>
    <ng-container matColumnDef="revocable">
      <mat-header-cell *matHeaderCellDef matTooltip="Indicates whether or not the license is revocable by the owner.">
        Revocable</mat-header-cell>
      <mat-cell *matCellDef="let token"><span class="truncate-text-right">{{token.token.revocable | yesNo}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="renewable">
      <mat-header-cell *matHeaderCellDef
        matTooltip="If true, the licensee may pay a fee to extend the expiration date by the same difference between the original expiry and the time of minting.">
        Renewable</mat-header-cell>
      <mat-cell *matCellDef="let token"><span class="truncate-text-right">{{token.token.renewable | yesNo}}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="listed">
      <mat-header-cell *matHeaderCellDef>Listed</mat-header-cell>
      <mat-cell *matCellDef="let token"><span class="truncate-text-right">{{token.listed | yesNo}}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="mint-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let token">
        <button mat-raised-button color="primary" (click)="editToken(token)" disabled="true">Mint</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="list-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let token">
        <button [disabled]="token.listed" mat-raised-button color="primary" (click)="listToken(token)" matTooltip="List"
          matTooltipPosition="above">
          <mat-icon>publish</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="view-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let token">
        <button mat-raised-button color="primary" (click)="deleteToken(token)" disabled="true">View</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let token">
        <button mat-raised-button color="primary" (click)="editToken(token)">Edit</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="copy-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let token">
        <button mat-raised-button color="primary" (click)="copyToken(token)" matTooltip="File Copy"
          matTooltipPosition="above">
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remove-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let token">
        <button mat-raised-button color="primary" (click)="deleteToken(token)" matTooltip="Remove"
          matTooltipPosition="above">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>