<h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Facebook Application Configuration</h1>

<div mat-dialog-content>
  <form [formGroup]="configurationForm">

    <div class="read-only-container">

      <div class="read-only-field">
        <label>Database ID</label>
        <div class="value">{{ configurationForm.get('id')?.value }}</div>
      </div>

      <div class="read-only-field">
        <label>Fully Qualified Type Name</label>
        <div class="value">{{ configurationForm.get('type')?.value }}</div>
      </div>

    </div>

    <div class="configuration-form-container">

      <mat-form-field>
        <input matInput placeholder="Application Configuration Name" name="name" formControlName="name">
        <mat-error *ngIf="configurationForm.controls.applicationId.hasError('required')">Name is Required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Application Configuration Description" name="description" formControlName="description">
        <mat-error *ngIf="configurationForm.controls.applicationId.hasError('required')">Description is Required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Application Id" name="applicationId" formControlName="applicationId" >
        <mat-error *ngIf="configurationForm.controls.applicationId.hasError('required')">Application Id is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Application Secret" name="applicationSecret" formControlName="applicationSecret" >
        <mat-error *ngIf="configurationForm.controls.applicationSecret.hasError('required')">Application secret is required</mat-error>
      </mat-form-field>

    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="dialogRef.close(configurationForm.value)" [disabled]="!configurationForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
