<mat-tab-group>
    <mat-tab label="Wallets">
        <app-wallets-list></app-wallets-list>
    </mat-tab>
    <mat-tab label="Smart Contracts">
        <app-neo-smart-contracts-list></app-neo-smart-contracts-list>
    </mat-tab>
    <mat-tab label="Definitions">
        <app-neo-tokens-list></app-neo-tokens-list>
    </mat-tab>
    <mat-tab label="NFTs" disabled="true">
        <app-neo-tokens-list></app-neo-tokens-list>
    </mat-tab>
    <!-- <mat-tab label="Assets" disabled="true">
        Assets component...
    </mat-tab> -->
</mat-tab-group>