<mat-tab-group>
    <mat-tab label="Wallets" >
        <app-wallets-list></app-wallets-list>
    </mat-tab>
    <mat-tab label="Smart Contracts">
        <app-neo-smart-contracts-list></app-neo-smart-contracts-list>
    </mat-tab>
    <mat-tab label="Token Specs">
        <app-neo-smart-token-specs></app-neo-smart-token-specs>
    </mat-tab>
    <mat-tab label="Definitions">
        <app-neo-tokens-list [isMinted]="false"></app-neo-tokens-list>
    </mat-tab>
    <mat-tab label="NFTs">
        <app-neo-tokens-list [isMinted]="true"></app-neo-tokens-list>
    </mat-tab>
    <!-- <mat-tab label="Assets" disabled="true">
        Assets component...
    </mat-tab> -->
</mat-tab-group>


