<mat-tab-group>
    <mat-tab label="Wallets">
        <app-wallets-list></app-wallets-list>
    </mat-tab>
    <mat-tab label="Smart Contracts" disabled="true">
        Smart Contracts componenet...
    </mat-tab>
    <mat-tab label="Definitions">
        <app-neo-tokens-list></app-neo-tokens-list>
    </mat-tab>
    <mat-tab label="NFT">
        <app-neo-tokens-list></app-neo-tokens-list>
    </mat-tab>
    <!-- <mat-tab label="Assets" disabled="true">
        Assets component...
    </mat-tab> -->
</mat-tab-group>