.dialog-updated-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.disalog-updated-title {
  font-size: 21px;
  font-weight: 600;
}

.dialog-updated-header .dialog-update-haader__info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 400;
  flex: 1;
  padding-left: 50px;
}

.disalog-updated-contract__title, .dialog-updated-token__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
}

.dialog-updated-token {
  margin-left: 30px;
}

.dialog-updated-name {
  padding: 0 15px;
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
}

.dialog-updated-name mat-form-field {
  width: 100%;
}


mat-form-field {
  width: 35%;
  margin-right: 20px;
}
mat-form-field.full-width {
  width: 100%;
  margin: 0;
}

.boolean-field {
  display: inline-block;
  width: 35%;
}

.dialog-updated-footer {
  padding-top: 50px;
}

.dialog-updated-footer__cancel {
  margin-left: 20px;
}

.array-row {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 25px;
  align-items: center;
}

.array-row button {
  width: 40px;
  height: 40px;
  min-width: 40px;
}

mat-card {
  border-radius: 15px;
  box-shadow: 0 0 3px 1px black;
  background-color: white;
  margin: 25px 5px;
}

.mat-tab-inner {
  background-color: #f7f7f7;
  max-height: 300px;
  overflow-y: auto;
  padding: 20px 20px 0 20px;
}

.mat-chip.mat-standard-chip {
  background-color: #5BC1DF;
  color: white;
  border-radius: 6px;
}

.mat-chip button {
  opacity: 1;
}

.mat-chip mat-icon {
  color: white;
}

.header__form-field {
  width: auto;
  flex: 1;
}
