<div>
  <div class="dialog-updated-header">
    <div class="disalog-updated-title">New NFT Definition</div>
    <div class="dialog-update-haader__info">
      <div class="dialog-updated-contract">
        <div class="disalog-updated-contract__title">Contract</div>
        <div>{{data.contract.displayName}}</div>
      </div>
      <div class="dialog-updated-token">
        <div class="dialog-updated-token__title">Token Spec</div>
        <div>{{data.template.name}}</div>
      </div>
    </div>
  </div>
  <div class="dialog-updated-name">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Definition Name"
        name="definitionname"
        type="text"
        [value]="name"
        (input)="changeName($event.target.value)"
      >
    </mat-form-field>
  </div>
  <mat-tab-group
    (selectedIndexChange)="selectTab($event)"
    [selectedIndex]="activeTabIndex"
  >
    <mat-tab
      *ngFor="let tab of data.template.tabs; let i = index"
      label="{{tab.name}}"
    >
      <div class="mat-tab-inner">
        <app-neo-token-dialog-updated-field
          *ngFor="let field of fields"
          [field]="field"
        >
        </app-neo-token-dialog-updated-field>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="dialog-updated-footer">
    <button
      mat-raised-button
      color="primary"
    >
      Ok
    </button>
    <button
      class="dialog-updated-footer__cancel"
      mat-raised-button
      (click)="close()"
    >
      Cancel
    </button>
  </div>
</div>