button,
input[type="button"] {
  margin-left: 8px;
  margin-right: 8px;
}

.mat-column-select {
  max-width: 23px;
}

.mat-column-name {
  min-width: 60px;
  margin: auto 5px;
}

.mat-column-edit-action {
  max-width: 72px;
  min-width: 72px;
}

.mat-column-remove-action {
  max-width: 99px;
  min-width: 99px;
}

.tab {
  margin-left: 10px;
}

.control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}