<h1 mat-dialog-title>
  {{data.isNew ? "New" : "Edit"}} Mission
</h1>

<div mat-dialog-content>
  <form [formGroup]="missionForm">
    <div class="mission-form-container">
      <div class="mission-form-row">
        <mat-form-field>
          <input autofocus matInput placeholder="Name" name="name" formControlName="name" >
          <mat-error *ngIf="missionForm.controls.name.hasError('required')">Name is required</mat-error>
          <mat-error *ngIf="missionForm.controls.name.hasError('pattern')">Name must consist only of alphanumeric characters</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Display Name" name="displayName" formControlName="displayName">
          <mat-error *ngIf="missionForm.controls.name.hasError('required')">Display name is required</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Description" name="description" formControlName="description" >
      </mat-form-field>
      <mat-form-field>
        <mat-chip-list #missionsTagList>
          <mat-chip *ngFor="let tag of data.mission.tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input formControlName="tags" name="tags" placeholder="Add tags..." [matChipInputFor]="missionsTagList"
                 [matChipInputSeparatorKeyCodes]="separatorKeyCodes" (matChipInputTokenEnd)="addTag($event)" [matChipInputAddOnBlur]="addOnBlur">
        </mat-chip-list>
      </mat-form-field>
      <app-json-editor-card topic="Mission" [editTarget]="data.mission"></app-json-editor-card>
      <h1 class="card-header">Edit Mission Steps <button mat-raised-button color="primary" type="button" (click)="addStep()">Add Step</button></h1>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="close(true)" [disabled]="!missionForm.valid || !editorCard.isJSONValid">OK</button>
  <button type="button" mat-raised-button (click)="close()">Cancel</button>
</div>
