mat-form-field {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  margin-right: 80px;
}

mat-form-field:first-of-type {
  width: 70%;
  flex-shrink: 0;
}

mat-form-field:last-of-type {
  margin-right: 0;
}

.reward-row {
  display: flex;
  justify-content: left;
}

.reward-row button {
  box-sizing: border-box;
  min-width: 0;
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

.add-reward-button {
  visibility: hidden;
  display: none;
}
