<h1>Edit Step Rewards</h1>

<form [formGroup]="existingRewardForm">
  <div class="reward-row" *ngFor="let reward of rewards; let rewardIndex = index">
    <mat-form-field>
      <input matInput readonly placeholder="Reward Item" name="reward{{rewardIndex}}Item" formControlName="reward{{rewardIndex}}Item" value="{{reward.item.name}}">
      <mat-error *ngIf="existingRewardForm.controls['reward' + rewardIndex + 'Item'].hasError('itemNameNotFound')">Make sure an Item exists with this name</mat-error>
      <mat-error *ngIf="existingRewardForm.controls['reward' + rewardIndex + 'Item'].hasError('required')">Reward Item is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Reward Quantity" name="reward{{rewardIndex}}Ct" formControlName="reward{{rewardIndex}}Ct" value="{{reward.quantity}}" (change)="updateReward(reward, 'quantity', $event)">
      <mat-error *ngIf="existingRewardForm.controls['reward' + rewardIndex + 'Ct'].hasError('required')">Quantity is required</mat-error>
      <mat-error *ngIf="existingRewardForm.controls['reward' + rewardIndex + 'Ct'].hasError('pattern')">Quantity must be a number</mat-error>
    </mat-form-field>
    <button type="button" mat-raised-button color="primary" (click)="removeReward(rewardIndex)">-</button>
  </div>
</form>
<form [formGroup]="newRewardForm">
  <div class="reward-row">
    <mat-form-field>
      <input matInput #newRewardItem placeholder="Add reward item" name="newRewardItem" formControlName="newRewardItem" (keyup.enter)="addReward(newRewardItem.value, newRewardCt.value);">
      <mat-error *ngIf="newRewardForm.controls.newRewardItem.hasError('itemNameNotFound')">Make sure an Item exists with this name</mat-error>
      <mat-error *ngIf="newRewardForm.controls.newRewardItem.hasError('required')">Reward Item is required</mat-error>
    </mat-form-field>
    <mat-form-field class="no-margin">
      <input matInput #newRewardCt placeholder="Item quantity" name="newRewardCt" formControlName="newRewardCt" (keyup.enter)="addReward(newRewardItem.value, newRewardCt.value);">
      <mat-error *ngIf="newRewardForm.controls.newRewardCt.hasError('required')">Reward quantity is required</mat-error>
      <mat-error *ngIf="newRewardForm.controls.newRewardCt.hasError('pattern')">Quantity must be a number</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="add-reward-button" (click)="addReward(newRewardItem.value, newRewardCt.value)" [disabled]="!newRewardForm.valid" type="button">+</button>
  </div>
</form>
