.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.names {
  display: flex;
}

.item {
  width: 100%;
  padding: 10px;
}

.full {
  width: 100%;
}

.one-third {
  width: 32%;
}

.margin-left {
  margin-left: 16px;
}

.type {
  margin: auto 4px;
}

.number {
  width: 75px;
  padding: 10px;
}


.metadata-row {
  display: flex;
  justify-content:space-between;
}

.url-data {
  width: 720px;
}