<h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Definition</h1>

<div mat-dialog-content>
  <form [formGroup]="tokenForm">
    <div class="form-container">

      <mat-tab-group>
        <mat-tab label="General">
          <div style="margin: 16px 0px;">

            <div style="display: flex; justify-content: space-between;">
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Contract</mat-label>
                  <input autofocus matInput placeholder="Smart Contract A" name="contractId"
                    formControlName="contractId" matTooltip="The name given to this Smart Contract.">
                </mat-form-field>

                <button class="margin" color="primary" type="button" mat-raised-button
                  (click)="showSelectSmartContractDialog()">Select
                  Smart Contract</button>
              </div>

              <div class="public-private-preview">
                <mat-button-toggle-group name="accessOption" formControlName="accessOption">
                  <mat-button-toggle value="public" matTooltip="Can be viewed by everyone.">Public</mat-button-toggle>
                  <mat-button-toggle value="private"
                    matTooltip="Only the token or contract owner can view the token properties.">Private
                  </mat-button-toggle>
                  <mat-button-toggle value="preview"
                    matTooltip="If not the token or contract owner, the asset urls cannot be viewed.">Preview
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>

            <!-- <mat-form-field>
              <input autofocus matInput placeholder="Active Wallet" name="activeWallet" disabled="true"
                value="Wallet A">
            </mat-form-field> -->

            <mat-form-field class="full">
              <input autofocus matInput placeholder="Name" name="name" formControlName="name"
                matTooltip="The name given to this token.">
              <!-- <mat-error *ngIf="itemForm.controls.name.hasError('required')">Name is required</mat-error>
                  <mat-error *ngIf="itemForm.controls.name.hasError('pattern')">Name must consist only of alphanumeric characters</mat-error> -->
            </mat-form-field>

            <mat-form-field class="full">
              <mat-label>Owner URL</mat-label>
              <input autofocus matInput placeholder="Ex. http://www.owner.com/" name="owner" formControlName="owner"
                matTooltip="The account address of the owner to be assigned when minting this token.">
              <!-- <mat-error *ngIf="itemForm.controls.name.hasError('required')">Name is required</mat-error>
                  <mat-error *ngIf="itemForm.controls.name.hasError('pattern')">Name must consist only of alphanumeric characters</mat-error> -->
            </mat-form-field>

            <mat-form-field class="full">
              <input autofocus matInput placeholder="Description" name="description" formControlName="description"
                matTooltip="The description of this token.">
            </mat-form-field>

            <mat-form-field style="width: 99%;">
              <mat-chip-list #itemsTagList>
                <mat-chip *ngFor="let tag of data.neoToken?.token?.tags" [selectable]="selectable"
                  [removable]="removable" (removed)="remove(tag)">
                  {{tag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input formControlName="tags" name="tags" placeholder="Add tags..." [matChipInputFor]="itemsTagList"
                  [matChipInputSeparatorKeyCodes]="separatorKeyCodes" (matChipInputTokenEnd)="addTag($event)"
                  [matChipInputAddOnBlur]="addOnBlur"
                  matTooltip="Any tags to assist in filtering/searching for this token.">
              </mat-chip-list>
            </mat-form-field>

            <section style="display: flex; justify-content: left; ">
              <mat-form-field>
                <mat-select name="transferOptions" placeholder="Transfer Options" formControlName="transferOptions">
                  <mat-option *ngFor="let transferOption of transferOptionType" [value]="transferOption.key"
                    [matTooltip]="transferOption.toolTip" matTooltipPosition="left">
                    {{transferOption.label}}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="tokenForm.controls.timeStrategyType.hasError('required')">Transfer Options is required</mat-error> -->
              </mat-form-field>

              <mat-form-field style="margin-left: 16px;">
                <input autofocus matInput placeholder="Total Supply" name="totalSupply" formControlName="totalSupply"
                  type="number" min="0"
                  matTooltip="The maximum number of copies of this token that can be owned (by any number of accounts) at any one time.">
              </mat-form-field>

              <mat-checkbox style="margin-left: 16px;" formControlName="renewable"
                matTooltip="If true, the licensee may pay a fee to extend the expiration date by the same difference between the original expiry and the time of minting.">
                Renewable</mat-checkbox>

              <mat-checkbox style="margin-left: 16px;" formControlName="revocable"
                matTooltip="Indicates whether or not the license is revocable by the owner">Revocable</mat-checkbox>

              <mat-checkbox style="margin-left: 16px;" name="listed" formControlName="listed"
                matTooltip="Is this token listed.">Listed
              </mat-checkbox>
            </section>
          </div>
        </mat-tab>

        <mat-tab label="Ownership">
          <mat-card style="margin: 10px;">
            <section>
              <div *ngIf="data.neoToken.token?.ownership?.stakeHolders">
                <div class="metadata-row full"
                  *ngFor="let stakeHolder of data.neoToken.token.ownership?.stakeHolders; let i = index;">
                  <mat-form-field class="url-data">
                    <mat-label>Owner URL</mat-label>
                    <input matInput #existingOwner placeholder="Ex. www.owner.com" name="existingOwner"
                      value="{{stakeHolder.owner}}" disabled="true">
                  </mat-form-field>

                  <mat-checkbox class="margin-left" style="align-self: center;" #existingVoting name="existingVoting"
                    [checked]="stakeHolder.voting" disabled="true">
                    Voting
                  </mat-checkbox>

                  <mat-form-field class="margin-left">
                    <mat-label>Shares</mat-label>
                    <input matInput #existingShares placeholder="Ex. 5" type="number" min="0" name="existingShares"
                      value="{{stakeHolder.shares}}" disabled="true">
                  </mat-form-field>

                  <div class="margin-left">
                    <button type="button" mat-raised-button color="primary"
                      (click)="removeStakeHolderAtIndex(i)">-</button>
                  </div>
                </div>
              </div>

              <div class="metadata-row full">
                <mat-form-field class="url-data">
                  <mat-label>Owner URL</mat-label>
                  <input matInput #owner placeholder="Ex. www.owner.com" name="owner">
                </mat-form-field>
                <mat-checkbox class="margin-left" style="align-self: center;" #voting name="voting"
                  formControlName="voting">Voting</mat-checkbox>
                <mat-form-field class="margin-left">
                  <mat-label>Shares</mat-label>
                  <input matInput #shares placeholder="Ex. 5" name="shares" type="number" min="0">
                </mat-form-field>
                <div>

                  <button class="add-button margin-left" type="button" mat-raised-button color="primary"
                    (click)="addStakeHolder(owner.value, shares.value); owner.value = ''; votingControl.setValue(false); shares.value = 0;"
                    [disabled]="!owner.value">+</button>
                </div>
              </div>
            </section>

          </mat-card>
          <mat-form-field class="url-data" style="margin: 0px 16px 0px 0px; width: 268px; float: right;">
            <mat-label>Capitalization Shares</mat-label>
            <input matInput #capitalization placeholder="Ex. 100" name="capitalization" formControlName="capitalization"
              type="number" min="0">
          </mat-form-field>
        </mat-tab>

        <mat-tab label="Previews">
          <mat-card style="margin: 10px;">
            <section>
              <div class="metadata-row full" *ngFor="let previewUrl of data.neoToken.token.previewUrls; let i = index;">
                <mat-form-field class="url-data">
                  <input #existingValue required matInput placeholder="Preview URL" name="value" value="{{previewUrl}}"
                    disabled="true">
                </mat-form-field>
                <div>
                  <button type="button" mat-raised-button color="primary"
                    (click)="removePreviewUrlAtIndex(i)">-</button>
                </div>
              </div>

              <div class="metadata-row full">
                <mat-form-field class="url-data">
                  <input matInput #newValue placeholder="Preview URL" name="newUrl"
                    (keyup.enter)="addPreviewUrl(newValue.value); newValue.value = '';">
                </mat-form-field>
                <div>
                  <button class="add-button" type="button" mat-raised-button color="primary"
                    (click)="addPreviewUrl(newValue.value); newValue.value = '';"
                    [disabled]="!newValue.value">+</button>
                </div>
              </div>
            </section>
          </mat-card>
        </mat-tab>

        <mat-tab label="Assets">
          <mat-card style="margin: 10px;">
            <section>
              <div class="metadata-row full" *ngFor="let assetUrl of data.neoToken.token.assetUrls; let i = index;">
                <mat-form-field class="url-data">
                  <input #existingValue required matInput placeholder="Asset URL" name="value" value="{{assetUrl}}"
                    disabled="true">
                </mat-form-field>
                <div>
                  <button type="button" mat-raised-button color="primary" (click)="removeAssetUrlAtIndex(i)">-</button>
                </div>
              </div>

              <div class="metadata-row full">
                <mat-form-field class="url-data">
                  <input matInput #newAssetValue placeholder="Asset URL" name="newUrl"
                    (keyup.enter)="addAssetUrl(newAssetValue.value); newAssetValue.value = '';">
                </mat-form-field>
                <div>
                  <button class="add-button" type="button" mat-raised-button color="primary"
                    (click)="addAssetUrl(newAssetValue.value); newAssetValue.value = '';"
                    [disabled]="!newAssetValue.value">+</button>

                </div>
              </div>
            </section>
          </mat-card>

        </mat-tab>
        <mat-tab label="Metadata">
          <app-json-editor-card topic="Token" [editTarget]="data.neoToken.token.metadata"></app-json-editor-card>
        </mat-tab>
      </mat-tab-group>

    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="close(true)" [disabled]="!tokenForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="close(false)">Cancel</button>
</div>