<form [formGroup]="metadataForm">
  <div class="metadata-row" *ngFor="let datum of dataHolder.metadata | keyvalue">
    <mat-form-field class="key-field">
      <input matInput placeholder="Metadata key" name="key" value="{{datum.key}}">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Metadata value" name="value" value="{{datum.value}}">
    </mat-form-field>
  </div>
  <div class="metadata-row">
    <mat-form-field class="key-field">
      <input matInput #newKey placeholder="Metadata key" name="newkey" formControlName="newKey" (keyup.enter)="addMetadata(newKey.value, newValue.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput #newValue placeholder="Metadata value" name="newvalue" formControlName="newValue" (keyup.enter)="addMetadata(newKey.value, newValue.value)">
    </mat-form-field>
  </div>
</form>
