.metadata-row {
  display: flex;
  justify-content: left;
}

mat-form-field {
  flex-grow: 1;
  margin-right: 0px;
}

.key-field {
  flex-grow: 0;
  width: 240px;
  margin-right: 60px;
}

button {
  box-sizing: border-box;
  min-width: 0;
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

.add-button {
  visibility: hidden;
}
