button,
input[type="button"] {
  margin-left: 8px;
  margin-right: 8px;
}

.mat-column-edit-action {
  max-width: 72px;
  min-width: 72px;
}
.mat-column-copy-action {
  max-width: 72px;
  min-width: 72px;
}
.mat-column-remove-action {
  max-width: 99px;
  min-width: 99px;
}
