<h1 mat-dialog-title>
  {{data.isNew ? "New" : "Edit"}} Profile
</h1>

<div mat-dialog-content>
  <form [formGroup]="profileForm">
    <div class="prof-form-container">
      <div class="prof-form-row">
        <mat-form-field>
          <input autofocus matInput placeholder="Display Name" name="displayName" formControlName="displayName">
          <mat-error>Display name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Image URL" name="imageUrl" formControlName="imageUrl">
        </mat-form-field>
      </div>

      <div class="prof-form-row">
        <h2>User Info</h2>
        <div class="user-buttons">
          <button color="primary" type="button" mat-raised-button>Select User</button>
          <button color="primary" type="button" mat-raised-button>Edit User</button>
        </div>
      </div>

      <div class="prof-form-row">
        <mat-form-field>
          <input matInput disabled placeholder="Name" name="userName" [value]="data.profile.user ? data.profile.user.name : ''">
        </mat-form-field>
        <mat-form-field>
          <input matInput disabled placeholder="Email" name="userEmail" [value]="data.profile.user ? data.profile.user.email : ''">
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput disabled placeholder="Facebook ID" name="userFacebook" [value]="data.profile.user ? data.profile.user.facebookId : ''">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Application</mat-label>
        <mat-select [compareWith]="compareApps" name="applicationSelect" formControlName="applicationSelect">
          <mat-option *ngFor="let application of data.applications" [value]="application">
            {{application.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div id="lastLogin" #lastLogin>Last Login: 2019-04-22 23:34:05</div>

  <app-json-editor-card [editTarget]="data.profile" topic="Profile"></app-json-editor-card>
</div>

<div mat-dialog-actions>
  <button type="button" color="primary" mat-raised-button (click)="close(true)" [disabled]="!profileForm.valid || !editorCard.isJSONValid">Save</button>
  <button type="button" mat-raised-button (click)="close()">Cancel</button>
</div>
