.prof-form-row {
  display: flex;
}

.prof-form-row button {
  margin-right: 8px;
}

.prof-form-row button:last-of-type {
  margin-right: 0;
}

mat-form-field {
  flex-grow: 1;
  width: 100%;

  margin-right: 60px;
}

mat-form-field:last-of-type {
  margin: 0;
}

h2 {
  font-size: 18px;

  width: 100%;
}

button {
  flex-grow: 0;
  flex-shrink: 0;

  height: auto;
}

.user-buttons {
  display: flex;
}

