<h1 mat-dialog-title>
  {{data.isNew ? "New" : "Edit"}} Profile
</h1>

<div mat-dialog-content>
  <form [formGroup]="profileForm">
    <div class="prof-form-container">
      <div class="prof-form-row">
        <mat-form-field>
          <input autofocus matInput placeholder="Display Name" name="displayName" formControlName="displayName">
          <mat-error>Display name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Image URL" name="imageUrl" formControlName="imageUrl">
        </mat-form-field>
      </div>

      <div class="prof-form-row">
        <h2>User Info</h2>
        <div class="user-buttons">
          <button *ngIf="!data.isNew" color="primary" type="button" mat-raised-button (click)="showInventoryDialog()"><mat-icon>edit</mat-icon> Inventory</button>
          <button *ngIf="data.isNew" color="primary" type="button" mat-raised-button (click)="showSelectUserDialog()">Select User</button>
          <button *ngIf="data.profile.user" color="primary" type="button" mat-raised-button (click)="showEditUserDialog(data.profile.user)"><mat-icon>manage_accounts</mat-icon> User</button>
        </div>
      </div>

      <div class="prof-form-row">
        <mat-form-field>
          <input matInput placeholder="Name" name="userName" formControlName="userName" [value]="data.profile.user ? data.profile.user.name : ''">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" name="userEmail" formControlName="userEmail" [value]="data.profile.user ? data.profile.user.email : ''">
        </mat-form-field>
      </div>

      <mat-form-field>
        <input matInput placeholder="Facebook ID" name="userFacebook" formControlName="userFacebook" [value]="data.profile.user ? data.profile.user.facebookId : ''">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Application</mat-label>
        <mat-select [compareWith]="compareApps" name="application" formControlName="application">
          <mat-option *ngFor="let application of data.applications" [value]="application">
            {{application.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <div id="lastLogin">Last Login: {{data.profile.lastLogin ? parseDate(data.profile.lastLogin) : "N/A"}}</div>

  <app-json-editor-card [editTarget]="data.profile" topic="Profile"></app-json-editor-card>
</div>

<div mat-dialog-actions>
  <button *ngIf="profileForm.valid && editorCard?.isJSONValid" type="button" color="primary" mat-raised-button (click)="close(true)">Save</button>
  <button type="button" mat-raised-button (click)="close()">Cancel</button>
</div>
