/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~jsoneditor/dist/jsoneditor.min.css";
textarea.jsoneditor-text{min-height:700px;}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #fafafa
}


.basic-container {
  padding: 15px 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/** TODO: Create responsive tables **/
/* mat-cell {
  margin-right: 10px;
}

mat-header-cell {
  margin-right: 10px;
} */

.mat-card {
  background-color: rgba(207, 223, 242, 0.5);
}

.green-snackbar {
  background: #1d7c33;
}


/** START global for tables **/

.data-table {
  width: 100%;
}

.data-list {
  max-width: 1200px;
  min-width: 700px;
}

.spinner-container {
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  height: 100px;
  width: 100px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 0px auto 0 auto;
}

mat-cell > span.truncate-text-left {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction:rtl;
  text-align:left;
}

mat-cell > span.truncate-text-right {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/** END global for tables **/