<h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Amazon Game On Application Configuration</h1>

<div mat-dialog-content>
  <form [formGroup]="configurationForm">
    <div class="configuration-form-container">
      <mat-form-field>
        <input matInput placeholder="Game ID" name="gameId" formControlName="gameId" >
        <mat-error *ngIf="configurationForm.controls.gameId.hasError('required')">Game Id is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Public API Key" name="publicApiKey" formControlName="publicApiKey" >
        <mat-error *ngIf="configurationForm.controls.publicApiKey.hasError('required')">Public API Key is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Admin API Key" name="adminApiKey" formControlName="adminApiKey" >
        <mat-error *ngIf="configurationForm.controls.adminApiKey.hasError('required')">Admin API Key is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Public Key" name="publicKey" formControlName="publicKey" ></textarea>
      </mat-form-field>
    </div>
    <mat-tab-group *ngIf="!data.isNew">
      <mat-tab label="Prizes">
        <app-game-on-prizes-list [applicationId]="applicationId" [configurationId]="configurationId"></app-game-on-prizes-list>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="dialogRef.close(configurationForm.value)" [disabled]="!configurationForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
