<h1 mat-dialog-title>Generated Keys</h1>
<p>
    Please copy and keep your private key in a safe place. It will not be saved and will no longer be accessible.
</p>

<section>
    <mat-form-field class="full">
        <mat-label>Public Key</mat-label>
        <div style="display: flex; justify-content: space-between;">
            <input matInput name="publicKey" [value]="data.publicKey" disabled="true">
            <button style="transform: scale(0.85);" (click)="copyKeyToClipboard(data.publicKey)"
                mat-stroked-button>Copy</button>
        </div>
    </mat-form-field>
</section>
<section>
    <mat-form-field class="full">
        <mat-label>Private Key</mat-label>
        <div style="display: flex; justify-content: space-between;">
            <input matInput name="publicKey" [value]="data.privateKey" disabled="true">
            <button style="transform: scale(0.85);" (click)="copyKeyToClipboard(data.privateKey)"
                mat-stroked-button>Copy</button>
        </div>
    </mat-form-field>
</section>

<div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="close()">OK</button>
</div>