.item-form-container {
  display: flex;
  flex-direction: column;
}

.item-form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item-form-row mat-form-field {
  width: 50%;
  margin-right: 60px;
}

.item-form-row mat-form-field:last-of-type {
  margin-right: 0;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-header {
  font-size: 18px;
  font-weight: 500;
}

mat-card {
  margin-bottom: 5px;
}
