<h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Matchmaking Application Configuration</h1>

<div mat-dialog-content>
  <form [formGroup]="configurationForm">
    <div class="configuration-form-container">
      <mat-form-field>
        <input matInput placeholder="Matchmaking Scheme" name="scheme" formControlName="scheme" >
        <mat-error *ngIf="configurationForm.controls.scheme.hasError('required')">Scheme is required</mat-error>
      </mat-form-field>
      <ng-container [formGroup]="configurationForm.controls.success">
        <mat-form-field>
          <input matInput placeholder="Success Callback Module" name="module" formControlName="module" >
          <mat-error *ngIf="configurationForm.controls.success.controls.module.hasError('required')">Success Callback Module is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Success Callback Method" name="method" formControlName="method" >
          <mat-error *ngIf="configurationForm.controls.success.controls.method.hasError('required')">Success Callback Method is required</mat-error>
        </mat-form-field>
      </ng-container>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="dialogRef.close(configurationForm.value)" [disabled]="!configurationForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
