<h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Leaderboard</h1>

<div mat-dialog-content>
  <form [formGroup]="leaderboardForm">
    <div class="leaderboard-form-container">
      <div class="names">
        <mat-form-field class="item">
          <input matInput placeholder="Leaderboard Name" name="name" formControlName="name">
          <mat-error *ngIf="leaderboardForm.controls.name.hasError('required')">Leaderboard name is required</mat-error>
          <mat-error *ngIf="leaderboardForm.controls.name.hasError('unique') && data.isNew">Leaderboard name must unique</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <input matInput placeholder="Display Name (Title)" name="title" formControlName="title">
          <mat-error *ngIf="leaderboardForm.controls.title.hasError('required')">Display name (Title) is required</mat-error>
        </mat-form-field>
      </div>

      <div class="names">
        <mat-form-field class="item">
          <mat-select [disabled]='!data.isNew' name="timeStrategyType" placeholder="Time Strategy" formControlName="timeStrategyType">
            <mat-option *ngFor="let timeStrategy of timeStrategyTypes" [value]="timeStrategy.key">
              {{timeStrategy.description}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="leaderboardForm.controls.timeStrategyType.hasError('required')">Time strategy is required</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <mat-select [disabled]='!data.isNew' name="scoreStrategyType" placeholder="Score Strategy" formControlName="scoreStrategyType">
            <mat-option *ngFor="let scoreStrategy of scoreStrategyTypes" [value]="scoreStrategy.key">
              {{scoreStrategy.description}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="leaderboardForm.controls.scoreStrategyType.hasError('required')">Score strategy is required</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <input matInput placeholder="Score Units" name="scoreUnits" formControlName="scoreUnits">
          <mat-error *ngIf="leaderboardForm.controls.name.hasError('required')">Score Unit name is required</mat-error>
        </mat-form-field>
    </div>

    <mat-card *ngIf="showEpochalOption()" style="width: fit-content;">
      <h4>{{data.isNew ? 'Edit' : ''}} Epochal Parameters</h4>
      <!-- <p>{{leaderboardForm.get('firstEpochTimestampView').value | date:'medium'}}  {{timeZone}} ({{getCurrentOffset()}})</p> -->
      <div>
        <h5>First Reset Date and Time (UTC)</h5>        
        <mat-form-field style="width: 250px;">
          <input matInput type="datetime-local" placeholder="First leaderboard reset date & time " step="1" name="firstEpochTimestampView" formControlName="firstEpochTimestampView" (change)="handleNewDate($event)"/>
        </mat-form-field>
      </div>
      
      <div>
        <h5 style="margin-bottom: 0px;">Subsequent Reset Period</h5>
        <mat-form-field class="number">
          <input matInput placeholder="days" type="number" name="days" formControlName="days" min="0">  
        </mat-form-field>
        <mat-form-field class="number">
          <input matInput placeholder="hours" type="number" name="hours" formControlName="hours" min="0" max="24">
        </mat-form-field>
        <mat-form-field class="number">
          <input matInput placeholder="minutes" type="number" name="minutes" formControlName="minutes" min="0" max="60">
        </mat-form-field>
        <mat-form-field class="number">
          <input matInput placeholder="seconds" type="number" name="seconds" formControlName="seconds" min="0" max="60">
        </mat-form-field>
      </div>
    </mat-card>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="close(leaderboardForm.value)" [disabled]="!leaderboardForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="close()">Cancel</button>
</div>