<div style="display: flex; justify-content: space-between;">
  <h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Auth</h1>
  <form [formGroup]="authSchemeForm">
    <mat-checkbox name="regenerate" formControlName="regenerate"
      matTooltip="If set to true, Elements will regenerate the key, and public key input will be disabled."
      (click)="disableEnablePublicKeyInput()">
      {{data.isNew ? "Generate Key" : "Regenerate Key"}}
    </mat-checkbox>
  </form>
</div>

<div mat-dialog-content>
  <form [formGroup]="authSchemeForm">
    <div class="form-container">
      <div style="margin: 16px 0px;">
        <div style="display: flex; justify-content: space-between;">
          <mat-form-field style="width: 350px;">
            <input autofocus matInput placeholder="Audience (Name)" name="audience" formControlName="audience"
              matTooltip="The JWT audience for the scheme. Must be unique.">
            <!-- <mat-error *ngIf="itemForm.controls.name.hasError('required')">Name is required</mat-error>
              <mat-error *ngIf="itemForm.controls.name.hasError('pattern')">Name must consist only of alphanumeric characters</mat-error> -->
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="User Level" name="userLevel" formControlName="userLevel"
              matTooltip="The highest permitted user level this particular scheme will authorize.">
              <mat-option *ngFor="let userLevel of userLevels" [value]="userLevel.key">
                {{userLevel.description}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="authSchemeForm.controls.userLevel.hasError('required')">User level is required</mat-error>
          </mat-form-field>
        </div>


        <mat-form-field style="width: 99%;">
          <mat-label>Allowed Issuers</mat-label>
          <mat-chip-list #itemsAllowedIssuersList>
            <mat-chip *ngFor="let tag of data.authScheme?.allowedIssuers" [selectable]="selectable"
              [removable]="removable" (removed)="removeAllowedIssuers(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input formControlName="allowedIssuers" name="allowedIssuers" placeholder="Add Allowed Issuers..."
              [matChipInputFor]="itemsAllowedIssuersList" [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
              (matChipInputTokenEnd)="addAllowedIssuers($event)" [matChipInputAddOnBlur]="addOnBlur"
              matTooltip="The list of issuers allowed to use this scheme.">
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field style="width: 99%;">
          <mat-label>Tags</mat-label>
          <mat-chip-list #itemsTagList>
            <mat-chip *ngFor="let tag of data.authScheme?.tags" [selectable]="selectable" [removable]="removable"
              (removed)="removeTag(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input formControlName="tags" name="tags" placeholder="Add tags..." [matChipInputFor]="itemsTagList"
              [matChipInputSeparatorKeyCodes]="separatorKeyCodes" (matChipInputTokenEnd)="addTag($event)"
              [matChipInputAddOnBlur]="addOnBlur"
              matTooltip="Any tags to assist in filtering/searching for this Auth Scheme.">
          </mat-chip-list>
        </mat-form-field>
        <section>
          <mat-form-field style="width: 99%">
            <mat-label>Public Key</mat-label>
            <input autofocus matInput placeholder="Ex. myPublicKey1234" name="publicKey" formControlName="publicKey"
              matTooltip="The Base64 public key that was either given or generated during creation. See https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/security/spec/X509EncodedKeySpec.html for details on the specifics of the format.
                  pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$">

          </mat-form-field>
        </section>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <span>
    <button type="button" mat-raised-button (click)="close(true)" [disabled]="!authSchemeForm.valid">OK</button>
    <button type="button" mat-raised-button (click)="close(false)">Cancel</button>
  </span>
  <span *ngIf="!data.isNew" style="display: flex; flex-direction: column;" class="mat-small">
    <span>id: {{!data.isNew ? data.authScheme.id : ""}}</span>
  </span>
</div>