<div class="head-title">
  <h1 *ngIf="!!data.template" mat-dialog-title>Edit Token Spec</h1>
  <h1 *ngIf="!data.template" mat-dialog-title>New Token Spec</h1>
</div>

<div class="head-controls">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="SpecName"
        name="specname"
        type="text"
        [value]="tokenName"
        (input)="changeTokenName($event.target.value)"
      >
    </mat-form-field>
  </div>
  <!-- <mat-form-field>
    <mat-select
      name="contracts"
      placeholder="Contract"
      (selectionChange)="selectContract($event.value)"
    >
      <mat-option
        *ngFor="let contract of contracts"
        [value]="contract.id"
        [matTooltip]="contract.displayName"
        matTooltipPosition="left"
      >
        {{contract.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <button
    mat-raised-button
    color="primary"
    class="add-tab"
    (click)="addNewTab()"
  >
    Add Tab
  </button>
</div>

<mat-tab-group
  (selectedIndexChange)="selectTab($event)"
  [selectedIndex]="activeTabIndex"
>
  <mat-tab *ngFor="let tab of tabs; let i = index" label="{{i + 1}}">
    <div class="tab-header">
      <mat-form-field>
        <mat-label>Tab Name</mat-label>
        <input
          matInput
          placeholder="TabName"
          name="tabname"
          type="text"
          [value]="tab.name"
          (change)="updateTabName($event.target.value)"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tab Position</mat-label>
        <input
          matInput
          [value]="i + 1"
          (change)="updateTabPosition($event.target.value)"
          placeholder="TabPosition"
          name="tabposition"
          type="number"
          min="1"
          [max]="tabs.length"
        >
      </mat-form-field>
      <div class="tab-buttons">
        <button
          mat-raised-button
          color="primary"
          matTooltip="Duplicate"
          matTooltipPosition="above"
          [disabled]="tabs.length >= maxTabs"
          (click)="duplicateTab()"
        >
          <mat-icon>file_copy</mat-icon>
        </button>
        <button
          mat-raised-button
          color="primary"
          matTooltip="Remove"
          matTooltipPosition="above"
          [disabled]="tabs.length === 1"
          (click)="removeTab()"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
    <div class="fields-header">
      <div>Fields</div>
      <button
        mat-raised-button
        color="primary"
        matTooltip="Add Field"
        matTooltipPosition="above"
        (click)="addNewField()"
      >
        Add Field
      </button>
    </div>
    <mat-card [@.disabled]="disableAnimation">
      <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
        <mat-expansion-panel
          *ngFor="let field of fields; let fieldIndex = index;"
          (opened)="handleFieldPanelStateChange(fieldIndex)"
          [expanded]="expandedField === fieldIndex"
          cdkDrag
        >
          <div class="custom-placeholder" *cdkDragPlaceholder></div>
          <mat-expansion-panel-header>
            <div class="menu-panel-header">
              <div class="menu-index-keyname">
                <mat-icon>menu</mat-icon>
                <div>
                  <span>1: </span>
                  <span class="memu-keyname">{{field.name || 'KeyName'}}</span>
                </div>
              </div>
              <div>{{field.fieldType || 'Type'}}</div>
            </div>
          </mat-expansion-panel-header>
          <div>
            <div class="field-name-type">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="KeyName"
                  name="keyname"
                  type="text"
                  [value]="field.name"
                  (change)="changeFieldName($event.target.value, fieldIndex)"
                >
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{field.fieldType || 'Type'}}</mat-label>
                <mat-select
                  name="type"
                  placeholder="Type"
                  [value]="field.fieldType"
                  (selectionChange)="changeFieldType($event.value, fieldIndex)"
                >
                  <mat-option
                    *ngFor="let tabType of tabTypes"
                    [value]="tabType.key"
                    [matTooltip]="tabType.value"
                    matTooltipPosition="left"
                  >
                    {{tabType.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div [ngClass]="{'menu-panel-footer-column': field?.fieldType === 'Enum', 'menu-panel-footer': true}">
              <app-neo-smart-token-specs-dialog-field-type
                [type]="field.fieldType"
                [index]="fieldIndex"
                [field]="field"
                (onContentTypeUpdate)="changeFieldContentType($event, fieldIndex)"
                (onContentUpdate)="updateFieldsWithContent($event)"
                (openDefineObjectModal)="openDefineObjectModal($event)"
              >
              </app-neo-smart-token-specs-dialog-field-type>
              <div class="field-buttons">
                <button
                  mat-raised-button color="primary"
                  matTooltip="Move To Another Tab"
                  matTooltipPosition="above"
                  class="move-to-other-tab"
                  (click)="moveFieldToAnotherTab(fieldIndex)"
                >
                  <mat-icon>move_up</mat-icon>
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  matTooltip="Duplicate Field"
                  matTooltipPosition="above"
                  (click)="duplicateField(fieldIndex)"
                >
                  <mat-icon>file_copy</mat-icon>
                </button>
                <button
                  mat-raised-button
                  color="primary"
                  matTooltip="Remove"
                  matTooltipPosition="above"
                  (click)="removeField(fieldIndex)"
                >
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<div style="margin-top: 20px">
  <button
    mat-raised-button
    color="primary"
    matTooltip="Ok"
    matTooltipPosition="above"
    [disabled]="!isValid()"
    (click)="submit()"
  >
    OK
  </button>
  <button
    mat-raised-button
    matTooltip="Cancel"
    matTooltipPosition="above"
    style="margin-left: 10px"
    (click)="close()"
  >
    Cancel
  </button>
</div>
