<div class="data-list">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-form-field>
    <input matInput placeholder="Search Schedules" #input>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addSchedule()"><mat-icon>add</mat-icon> Add Schedule</button>
  <button mat-raised-button color="primary" (click)="deleteSelectedSchedules()" [disabled]="!hasSelection">Delete Selected Schedules</button>

  <mat-table class="data-table mat-elevation-z8" [dataSource]="dataSource" >

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Schedule ID</mat-header-cell>
      <mat-cell *matCellDef="let schedule"><span class="truncate-text-left">{{schedule.id}}</span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let schedule">{{schedule.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="displayName">
      <mat-header-cell *matHeaderCellDef>Display Name</mat-header-cell>
      <mat-cell *matCellDef="let schedule">{{schedule.displayName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let schedule">
        <button mat-raised-button color="primary" (click)="editSchedule(schedule)">Edit</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="events-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let schedule">
        <button mat-raised-button color="primary" (click)="editScheduleEvents(schedule)"><mat-icon>inventory</mat-icon> Events</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let schedule">
        <button mat-raised-button color="primary" (click)="deleteSchedule(schedule)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
