<h1 class="card-header">
  Edit Attributes
  <button type="button" mat-button (click)="toggleAdvancedEditor()" [disabled]="!isJSONValid">
    <span *ngIf="showAdvanced">Simplified...</span>
    <span *ngIf="!showAdvanced">Advanced...</span>
  </button>
</h1>
<mat-card>
  <form #attributeScroll [formGroup]="attributesForm" *ngIf="!showAdvanced">
    <div class="attribute-row" *ngFor="let datum of application.attributes | keyvalue">
      <mat-form-field class="key-field">
        <input #existingKey required matInput placeholder="key" name="key" value="{{datum.key}}" (change)="editAttribute(datum.key, existingKey.value, existingValue.value)">
      </mat-form-field>
      <mat-form-field>
        <input #existingValue required matInput placeholder="value" name="value" value="{{datum.value}}" (change)="editAttribute(datum.key, existingKey.value, existingValue.value)">
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="removeDataAtKey(datum.key)">-</button>
    </div>

    <div class="attribute-row">
      <mat-form-field class="key-field">
        <input matInput #newKey placeholder="Key" name="newkey" formControlName="newKey" (keyup.enter)="addAttribute(newKey.value, newValue.value)">
      </mat-form-field>
      <mat-form-field>
        <input matInput #newValue placeholder="Value" name="newvalue" formControlName="newValue" (keyup.enter)="addAttribute(newKey.value, newValue.value)">
      </mat-form-field>
      <button class="add-button" type="button" mat-raised-button color="primary" (click)="addAttribute(newKey.value, newValue.value)" [disabled]="!newKey.value || !newValue.value">+</button>
    </div>
  </form>
  <json-editor *ngIf="showAdvanced" [options]="editorOptions" [data]="application.attributes"></json-editor>
</mat-card>
