.card-header {
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-card {
  margin-bottom: 25px;
}

.attribute-row {
  display: flex;
  justify-content: left;
}

mat-form-field {
  flex-grow: 1;
  margin-right: 0px;
}

.key-field {
  flex-grow: 0;
  width: 240px;
  margin-right: 60px;
}

button {
  box-sizing: border-box;
  min-width: 0;
  height: 42px;
  margin-left: 10px;
}

