button,
input[type="button"] {
  margin-left: 8px;
  margin-right: 8px;
}

.mat-column-select {
  max-width: 23px;
}

.mat-column-email {
  max-width: 250px;
  margin: auto 10px;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  margin-right: 10px;
}

.mat-column-inventory-action {
  max-width: 134px;
  min-width: 134px;
}

.mat-column-edit-action {
  max-width: 72px;
  min-width: 72px;
}

.mat-column-delete-action {
  max-width: 49px;
  min-width: 49px;
}

.mat-column-id {
  max-width: 200px;
  min-width: 200px;
}

.mat-column-level {
  max-width: 85px;
  min-width: 85px;
}
