<h1 mat-dialog-title>{{data.action}} User</h1>

<div mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="user-form-container">
      <mat-form-field>
        <input matInput placeholder="Username" name="id" formControlName="id">
        <mat-error *ngIf="userForm.controls.id.hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="userForm.controls.id.hasError('pattern')">Username must consist only of alphanumeric characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" name="email" formControlName="email">
        <mat-error *ngIf="userForm.controls.email.hasError('required')">Emali is required</mat-error>
        <mat-error *ngIf="userForm.controls.email.hasError('email')">Email must be a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" name="password" formControlName="password" type="password">
        <mat-error *ngIf="userForm.controls.password.hasError('required')">Password is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password Confirmation" name="passwordConfirmation" formControlName="passwordConfirmation" type="password">
        <mat-error *ngIf="userForm.controls.passwordConfirmation.hasError('required')">Password confirmation is required</mat-error>
        <mat-error *ngIf="userForm.controls.passwordConfirmation.hasError('passwordMatch')">Password confirmation does not match</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="dialogRef.close(userForm.value)" [disabled]="!userForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="dialogRef.close()">Cancel</button>
</div>
