<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="BasicTests">
        <classes>
            <class name="dev.getelements.elements.sdk.test.ElementLoaderTest"/>
            <class name="dev.getelements.elements.sdk.test.FlatElementPathLoaderTest"/>
            <class name="dev.getelements.elements.sdk.test.NestedElementPathLoaderTest"/>
        </classes>
    </test>
</suite>
