
.blockchain-dropdown {
    display: flex;
}
.blockchain-dropdown .label {
    font-weight: 500;
}
.blockchain-dropdown .select {
    min-width: 80px;
    margin-left: 15px;
    text-align: center;
}
  