<div class="data-list">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <mat-form-field>
      <input matInput placeholder="Search Auth by Tag" #input disabled="true">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addAuthScheme()">
      Create Auth Scheme
    </button>

    <button mat-raised-button color="primary" (click)="deleteSelectedAuthSchemes()" [disabled]="!hasSelection">
      Delete Selected
    </button>

    <!-- <mat-button-toggle-group>
        <mat-button-toggle value="Yours">Yours</mat-button-toggle>
        <mat-button-toggle value="Superusers">Superusers</mat-button-toggle>
        <mat-button-toggle value="Users">Users</mat-button-toggle>
        <mat-button-toggle value="All">All</mat-button-toggle>
      </mat-button-toggle-group> -->

    <mat-table class="data-table mat-elevation-z8" [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="issuer">
        <mat-header-cell *matHeaderCellDef>Issuer</mat-header-cell>
        <mat-cell *matCellDef="let authScheme"><span class="truncate-text-right">{{authScheme.issuer}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit-action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let authScheme">
          <button mat-raised-button color="primary" (click)="editAuthScheme(authScheme)">Edit</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove-action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let authScheme">
          <button mat-raised-button color="primary" (click)="deleteAuthScheme(authScheme)" matTooltip="Remove"
            matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
