<div class="data-list">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field>
    <input matInput placeholder="Search" #input>
  </mat-form-field>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="addMenu" >Add...</button>

  <mat-menu #addMenu="matMenu">
    <a mat-menu-item (click)="addApplicationConfiguration(ApplicationConfigurationTypes.FACEBOOK)">Add Facebook</a>
    <a mat-menu-item (click)="addApplicationConfiguration(ApplicationConfigurationTypes.FIREBASE)">Add Firebase</a>
    <a mat-menu-item (click)="addApplicationConfiguration(ApplicationConfigurationTypes.MATCHMAKING)">Add Matchmaking</a>
    <a mat-menu-item (click)="addApplicationConfiguration(ApplicationConfigurationTypes.IOS_APP_STORE)">Add iOS App Store</a>
    <a mat-menu-item (click)="addApplicationConfiguration(ApplicationConfigurationTypes.ANDROID_GOOGLE_PLAY)">Add Google Play</a>
  </mat-menu>

  <button mat-raised-button color="primary" (click)="deleteSelectedApplicationConfigurations()" [disabled]="!hasSelection">Delete Selected</button>

  <mat-table class="data-table mat-elevation-z8" [dataSource]="dataSource" >

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="narrow-column">
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="narrow-column">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Configuration Id</mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">{{applicationConfiguration.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">{{shortenType(applicationConfiguration.type)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">{{applicationConfiguration.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">
        <button mat-raised-button color="primary" (click)="editApplicationConfiguration(applicationConfiguration)">Edit</button>
        <button mat-raised-button color="primary" (click)="deleteApplicationConfiguration(applicationConfiguration)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
