

button,
input[type=button] {
  margin-left:8px;
  margin-right:8px;
}

.mat-column-select {
  max-width: 23px;
}

.mat-column-action-edit {
  max-width: 72px;
  min-width: 72px;
}

.mat-column-action-delete {
  max-width: 99px;
  min-width: 99px;
}
