<div class="omni-chain-vaults-dialog">
  <div class="dialog-head">
    <div class="dialog-head__title" *ngIf="vault">Edit Vault</div>
    <div class="dialog-head__title" *ngIf="!vault">Create Vault</div>
    <mat-checkbox
      class="dialog-head__encrypted"
      [disabled]="vault"
      [checked]="encrypted"
      (change)="changeEncrypted($event.checked)"
    >
      Encrypted
    </mat-checkbox>
  </div>

  <div class="dialog-body">
    <div class="dialog-body__name-enc">
      <mat-form-field>
        <mat-label>Display Name</mat-label>
        <input
          matInput
          placeholder="Name"
          name="displayName"
          type="text"
          [value]="displayName"
          (input)="displayName = $event.target.value"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label class="label">Encryption Algorithm</mat-label>
        <mat-select class="select" [value]="algorithm" (selectionChange)="changeAlgorithm($event.value)" [disabled]="vault">
          <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.value">
            {{algorithm.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="dialog-body__user">
      <mat-form-field>
        <mat-label>User ID</mat-label>
        <input
          matInput
          placeholder="ID"
          name="userId"
          type="text"
          [value]="userId"
          (input)="userId = $event.target.value"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input
          matInput
          placeholder="User Name"
          name="userName"
          type="text"
          [value]="userName"
          (input)="userName = $event.target.value"
          readonly
        >
      </mat-form-field>
      <button mat-raised-button color="primary"  (click)="openSearchUsersDialog()">Search</button>
    </div>
    <div *ngIf="vault">
      <div>
        <mat-form-field>
          <mat-label>Old Vault Password</mat-label>
          <input
            matInput
            placeholder="Old Vault Password"
            type="password"
            [value]="oldPass"
            (input)="oldPass = $event.target.value"
            [disabled]="!vault || !encrypted"
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>New Vault Password</mat-label>
          <input
            matInput
            placeholder="New Vault Password"
            type="password"
            [value]="newPass"
            (input)="newPass = $event.target.value"
            [disabled]="!vault || !encrypted"
          >
        </mat-form-field>
        <mat-error *ngIf="error">{{error}}</mat-error>
      </div>
    </div>
    <div *ngIf="!vault">
      <div>
        <mat-form-field>
          <mat-label>Vault Password</mat-label>
          <input
            matInput
            placeholder="Vault Password"
            name="vaultPassword"
            type="password"
            [value]="pass"
            (input)="pass = $event.target.value"
            [disabled]="vault || !encrypted"
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Reenter Vault Password</mat-label>
          <input
            matInput
            placeholder="Vault Password"
            name="reenterVaultPassword"
            type="password"
            [value]="passConfirm"
            (input)="passConfirm = $event.target.value"
            [disabled]="vault || !encrypted"
          >
        </mat-form-field>
        <mat-error *ngIf="error">{{error}}</mat-error>
      </div>
    </div>

    <!-- ONLY IN EDIT MODE AND FOR SUPERUSERS-->
    <div *ngIf="vault">
      <div class="hidden-field">
        <div class="hidden-field__label">Public Key</div>
        <div class="hidden-field__value">{{vault.key.publicKey}}</div>
      </div>

      <div class="hidden-field" *ngIf="isSuperUser">
        <div class="hidden-field__label">Private Key</div>
        <div
          class="hidden-field__reveal"
          *ngIf="!showPrivateKey"
          (click)="togglePrivateKey()"
        >
          Click to reveal
        </div>
        <div class="hidden-field__value" *ngIf="showPrivateKey">{{vault.key.privateKey}}</div>
      </div>

      <div class="hidden-field" *ngIf="isSuperUser && vault.key.encrypted">
        <div class="hidden-field__label">Encryption</div>
        <div
          class="hidden-field__reveal"
          *ngIf="!showEncryption"
          (click)="toggleEncryption()"
        >
          Click to reveal
        </div>
        <div class="hidden-field__value" *ngIf="showEncryption">{{vault.key.encryption.algorithm}}</div>
      </div>
    </div>
  </div>

  <div class="dialog-footer">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!userId || !displayName"
      (click)="submit()"
      isLoading
    >
      OK
    </button>
    <button mat-raised-button (click)="close()">
      Cancel
    </button>
    <div class="dialog-footer__id" *ngIf="vault">
      id: {{vault.id}}
    </div>
  </div>
</div>

