.omni-chain-vaults-dialog {
  padding: 20px 43px 25px 43px;
}

.dialog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
}

.dialog-head .dialog-head__title {
  font-size: 21px;
  font-weight: bold;
}

.dialog-head .dialog-head__encrypted {
  font-size: 16px;
}

.dialog-body {
  padding-top: 25px;
}

.dialog-body__name-enc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
}

.dialog-body__user {
  display: grid;
  grid-template-columns: 0.6fr 1fr max-content;
  column-gap: 18px;
  align-items: center;
}

mat-form-field {
  width: 100%;
}

.dialog-footer {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 22px;
  margin-top: 20px;
  position: relative;
}

.dialog-footer button {
  width: 80px;
}

.hidden-field {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
  margin-bottom: 27px;
}

.hidden-field .hidden-field__label {
  margin-bottom: 8px;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.hidden-field .hidden-field__reveal, .hidden-field .hidden-field__value {
  color: #737373;
  font-size: 16px;
  max-width: 520px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hidden-field .hidden-field__reveal {
  font-style: italic;
}

.dialog-footer__id {
  position: absolute;
  bottom: 5px;
  right: 40px;
}

