.bundle-form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bundle-form-row mat-form-field {
  width: 50%;
  margin-right: 60px;

  flex-grow: 1;
  flex-shrink: 1;
}

.bundle-form-row mat-form-field:last-of-type {
  margin-right: 0;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.disp-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 400;
}

mat-checkbox {
  margin-right: 5px;
}
