<h1 mat-dialog-title>{{data?.token?.token?.name}}</h1>

<div md-dialog-content class="content-container mat-elevation-z4">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Contract:</div>
                <div class="content"></div>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div class="item-content sub-item">
                <div class="label">Display Name:</div>
                <div class="content">{{currentSmartContract?.displayName}}</div>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div class="item-content sub-item">
                <div class="label">Blockchain:</div>
                <div class="content">{{currentSmartContract?.blockchain}}</div>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div class="item-content sub-item">
                <div class="label">Account Address:</div>
                <div class="content">{{currentSmartContract?.accountAddress}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Series ID:</div>
                <div class="content">{{data?.token?.seriesId}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Token UUID:</div>
                <div class="content">{{data?.token?.tokenUUID}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Listed:</div>
                <div class="content">{{data?.token?.listed | yesNo}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Status:</div>
                <div class="content">{{data?.token?.mintStatus}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Total Minted Quantity:</div>
                <div class="content">{{data?.token?.totalMintedQuantity}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Description:</div>
                <div class="content">{{data?.token?.token?.description}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Total Supply:</div>
                <div class="content">{{data.token.token.totalSupply}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Transfer:</div>
                <div class="content">{{data?.token?.token?.transferOptions | transferOptions: "label"}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Public:</div>
                <div class="content">{{data?.token?.token?.accessOption | titlecase}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Revocable:</div>
                <div class="content">{{data?.token?.token?.revocable | yesNo}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Renewable:</div>
                <div class="content">{{data?.token?.token?.renewable | yesNo}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Asset URLs:</div>
                <div class="content">
                    <div class="sub-content" *ngFor="let url of data?.token?.token?.assetUrls">
                        {{url}}
                        <a *ngIf="url && !isMedia(url)" href={{url}} target="_blank"><mat-icon>open_in_new</mat-icon></a>
                        <span *ngIf="url && isMedia(url)" (click)="showLightboxDialog(url)"><mat-icon>open_in_new</mat-icon></span>
                    </div>
                </div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Expiry:</div>
                <div class="content">{{data?.token?.token?.expiry}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Ownership:</div>
                <div class="content"></div>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div class="item-content sub-item">
                <div class="label">Capitalization:</div>
                <div class="content">{{data?.token?.token?.ownership?.capitalization}}</div>
            </div>
        </mat-list-item>
        <mat-list-item role="listitem">
            <div class="item-content sub-item">
                <div class="label">stakeHolders:</div>
                <div class="content">
                    <div class="sub-content" *ngFor="let stakeHolder of data?.token?.token?.ownership?.stakeHolders">
                        <div class="item"><caption>Owner</caption>{{stakeHolder.owner}}</div>
                        <div class="item"><caption>Shares</caption>{{stakeHolder.shares}}</div>
                        <div class="item"><caption>Voting</caption>{{stakeHolder.voting | yesNo}}</div>
                    </div>
                </div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Preview URLs:</div>
                <div class="content">
                    <div class="sub-content" *ngFor="let url of data?.token?.token?.previewUrls">
                        {{url}}
                        <a href={{url}} target="_blank"><mat-icon>open_in_new</mat-icon></a>
                    </div>
                </div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Tags:</div>
                <div class="content">
                    <div class="tag" *ngFor="let tag of data?.token?.token?.tags">
                    {{tag}}
                    </div>
                </div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
            <div class="item-content">
                <div class="label">Usages:</div>
                <div class="content">{{data?.token?.token?.usages}}</div>
            </div>
        </mat-list-item>       
    </mat-list>
</div>

<div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="close(false)">Cancel</button>
</div>
<div id="token-id">
    ID: {{data?.token.id}}
</div>