<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (keyup.enter)="login()" >
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field >
              <input matInput formControlName="userId" placeholder="User ID" required/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field >
              <input matInput formControlName="password" placeholder="Password" type="password" required />
            </mat-form-field>
          </td>
        </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="loading || loginForm.invalid" mat-raised-button color="primary" (click)="login()">
      Login
      <mat-spinner [style.display]="loading ? 'inline-block' : 'none'" [diameter]="16" ></mat-spinner>
    </button>
  </mat-card-actions>
</mat-card>
