<h1 class="card-header">
  Edit Mission Steps
  <button type="button" mat-raised-button color="primary" (click)="addStep()">Add Step</button>
</h1>
<h2 *ngIf="mission.steps.length == 0 && !mission.finalRepeatStep">
  At least one step is required.
</h2>

<div class="prelim-wrapper">
  <form [formGroup]="stepForm">
    <mat-accordion [multi]="true" class="prelim-steps" cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-expansion-panel class="step" cdkDragLockAxis="y" cdkDrag *ngFor="let step of mission.steps; let i = index" [expanded]="step.isNew">
        <mat-expansion-panel-header cdkDragHandle>
          <mat-icon cdkDragHandle>reorder</mat-icon>
          <span class="step-num"><b>Step {{i + 1}}: </b></span>
          <span class="step-name" *ngIf="step.displayName">{{step.displayName}}</span><span class="step-name" *ngIf="!step.displayName">N/A</span>
          <span class="step-count"><b>Count:</b> <span *ngIf="step.count">{{step.count}}</span><span *ngIf="!step.count">N/A</span></span>
        </mat-expansion-panel-header>

        <div class="form-row">
          <mat-form-field>
            <input matInput placeholder="Display name" name="displayName" formControlName="displayName{{i}}" value="{{step.displayName}}" (change)="updateStep(step, 'displayName', $event)">
            <mat-error *ngIf="stepForm.controls['displayName' + i].hasError('required') && stepForm.controls['displayName' + i].invalid">Display name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Count" name="count" formControlName="count{{i}}" value="{{step.count}}" (change)="updateStep(step, 'count', $event)">
            <mat-error *ngIf="stepForm.controls['count' + i].hasError('required')">Count is required</mat-error>
            <mat-error *ngIf="stepForm.controls['count' + i].hasError('pattern')">Count must be a number</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field>
            <input matInput placeholder="Description" name="description" formControlName="description{{i}}" value="{{step.description}}" (change)="updateStep(step, 'description', $event)">
            <mat-error *ngIf="stepForm.controls['description' + i].hasError('required')">Description is required</mat-error>
          </mat-form-field>
        </div>

        <app-mission-rewards-editor class="existing-step-reward-editor" [rewards]="step.rewards"></app-mission-rewards-editor>

        <app-json-editor-card topic="Step" [editTarget]="step"></app-json-editor-card>

        <mat-action-row>
          <button type="button" mat-raised-button color="primary" (click)="deleteStep(i)">Delete Step</button>
          <mat-checkbox (change)="toggleFinalStep($event, i)" *ngIf="i == mission.steps.length - 1 && !mission.finalRepeatStep">Final Repeat Step</mat-checkbox>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel class="step" *ngIf="mission.finalRepeatStep">
        <mat-expansion-panel-header>
          <mat-icon>reorder</mat-icon>
          <span class="step-num"><b>Final Repeat Step: </b></span>
          <span class="step-name" *ngIf="mission.finalRepeatStep.displayName">{{mission.finalRepeatStep.displayName}}</span><span class="step-name" *ngIf="!mission.finalRepeatStep.displayName">N/A</span>
          <span class="step-count"><b>Count:</b> <span *ngIf="mission.finalRepeatStep.count">{{mission.finalRepeatStep.count}}</span><span *ngIf="!mission.finalRepeatStep.count">N/A</span></span>
        </mat-expansion-panel-header>

        <div class="form-row">
          <mat-form-field>
            <input matInput placeholder="Display name" name="displayName" formControlName="finalDisplayName" value="{{mission.finalRepeatStep.displayName}}" (change)="updateStep(mission.finalRepeatStep, 'displayName', $event)">
            <mat-error *ngIf="stepForm.controls['finalDisplayName'].hasError('required')">Display name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Count" name="count" formControlName="finalCount" value="{{mission.finalRepeatStep.count}}" (change)="updateStep(mission.finalRepeatStep, 'count', $event)">
            <mat-error *ngIf="stepForm.controls['finalCount'].hasError('required')">Count is required</mat-error>
            <mat-error *ngIf="stepForm.controls['finalCount'].hasError('pattern')">Count must be a number</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field>
            <input matInput placeholder="Description" name="description" formControlName="finalDescription" value="{{mission.finalRepeatStep.description}}" (change)="updateStep(mission.finalRepeatStep, 'description', $event)">
            <mat-error *ngIf="stepForm.controls['finalDescription'].hasError('required')">Description is required</mat-error>
          </mat-form-field>
        </div>

        <app-mission-rewards-editor class="final-step-reward-editor" [rewards]="mission.finalRepeatStep.rewards" ></app-mission-rewards-editor>

        <app-json-editor-card topic="Step" [editTarget]="mission.finalRepeatStep || {}"></app-json-editor-card>

        <mat-action-row>
          <button type="button" mat-raised-button color="primary" (click)="deleteFinalStep()">Delete Step</button>
          <mat-checkbox (change)="toggleFinalStep($event, -1)" [checked]="true">Final Repeat Step</mat-checkbox>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
