<div>
  <div class="dialog-define-object-title">
    Manage Object Type
  </div>
  <div class="fields-header">
    <div>Nested properties:</div>
  </div>
  <mat-card [@.disabled]="disableAnimation">
    <mat-accordion cdkDropList>
      <mat-expansion-panel
        *ngFor="let field of properties; let i = index"
        (opened)="handleFieldPanelStateChange(i)"
        [expanded]="expandedField === i"
        cdkDrag
      >
        <div class="custom-placeholder" *cdkDragPlaceholder></div>
        <mat-expansion-panel-header>
          <div class="menu-panel-header">
            <div class="menu-index-keyname">
              <mat-icon>menu</mat-icon>
              <div>
                <span>{{i+1}}</span>
                <span class="memu-keyname">{{field.name || 'KeyName'}}</span>
              </div>
            </div>
            <div>{{field.type}}</div>
          </div>
        </mat-expansion-panel-header>
        <div class="sharp-panel">
          <div class="field-name-type">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="KeyName"
                name="keyname"
                type="text"
                [value]="field.name"
                (change)="changeFieldName($event.target, i)"
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select
                name="type"
                placeholder="Type"
                [value]="field.type?.toUpperCase()"
                (selectionChange)="updateFieldType($event.value, i)"
              >
                <mat-option
                  *ngFor="let fieldType of propertiesTypes"
                  [value]="fieldType.key"
                  [matTooltip]="fieldType.value"
                  matTooltipPosition="left"
                >
                  {{fieldType.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="menu-panel-footer">
            <app-neo-smart-token-specs-dialog-field-type
              [type]="field.type"
              [index]="i"
              [field]="field"
              (onContentTypeUpdate)="changePropertyType($event, i)"
              (onDefaultValueUpdate)="changeDefaultValue($event, i)"
              (onPlaceholderUpdate)="changePlaceholder($event, i)"
              (openDefineObjectModal)="openDefineObjectModal($event)"
            ></app-neo-smart-token-specs-dialog-field-type>
            <div class="field-buttons">
              <button
                mat-raised-button
                color="primary"
                matTooltip="Duplicate Field"
                matTooltipPosition="above"
                (click)="duplicateField(field)"
              >
                <mat-icon>file_copy</mat-icon>
              </button>
              <button
                mat-raised-button
                color="primary"
                matTooltip="Remove"
                matTooltipPosition="above"
                (click)="removeField(i)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <button
        mat-raised-button
        color="primary" class="mt-20"
        matTooltip="Add Field"
        matTooltipPosition="above"
        (click)="addNewField()">
        Add Field
      </button>
    </mat-accordion>
  </mat-card>

  <div style="margin-top: 20px">
    <button
      mat-raised-button
      color="primary"
      matTooltip="Remove"
      matTooltipPosition="above"
      (click)="submit()"
    >
      OK
    </button>
    <button
      mat-raised-button
      matTooltip="Remove"
      matTooltipPosition="above"
      style="margin-left: 10px"
      (click)="close()"
    >
      Cancel
    </button>
  </div>
</div>
