.dialog-define-object-title {
  font-size: 22px;
  font-weight: 400;
}

.fields-header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sharp-panel {
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.fields-header div {
  font-weight: 400;
  font-size: 18px;
}

.menu-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}

.menu-index-keyname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-index-keyname mat-icon {
  margin-right: 20px;
}

.menu-index-keyname .memu-keyname {
  opacity: 0.4;
  margin-left: 10px;
}

.field-name-type {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  column-gap: 30px;
}

.field-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.field-buttons button {
  padding: 0;
  min-width: 45px;
  max-width: 45px;
  margin-left: 10px;
}

.menu-panel-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}


app-neo-smart-token-specs-dialog-field-type {
  flex: 1;
}

.custom-placeholder {
  background: #e1e1e1;
  border: dotted 3px #cbcbcb;
  min-height: 48px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mt-20 {
  margin-top: 20px;
}

mb-20 {
  margin-bottom: 20px;
}

