<form #metadataScroll [formGroup]="metadataForm">
  <div class="metadata-row" *ngFor="let datum of dataHolder?.metadata | keyvalue">
    <mat-form-field class="key-field">
      <input #existingKey required matInput placeholder="Metadata key" name="key" value="{{datum.key}}" (change)="editMetadata(datum.key, existingKey.value, existingValue.value)">
    </mat-form-field>
    <mat-form-field>
      <input #existingValue required matInput placeholder="Metadata value" name="value" value="{{datum.value}}" (change)="editMetadata(datum.key, existingKey.value, existingValue.value)">
    </mat-form-field>
    <button type="button" mat-raised-button color="primary" (click)="removeDataAtKey(datum.key)">-</button>
  </div>

  <div class="metadata-row">
    <mat-form-field class="key-field">
      <input matInput #newKey placeholder="Metadata key" name="newkey" formControlName="newKey" (keyup.enter)="addMetadata(newKey.value, newValue.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput #newValue placeholder="Metadata value" name="newvalue" formControlName="newValue" (keyup.enter)="addMetadata(newKey.value, newValue.value)">
    </mat-form-field>
    <button class="add-button" type="button" mat-raised-button color="primary" (click)="addMetadata(newKey.value, newValue.value)" [disabled]="!newKey.value || !newValue.value">+</button>
  </div>
</form>
