mat-form-field {
    margin: 0px 5px;
}

button {
    margin: 5px 5px;
    height: 42px;
}

.find-button {
    min-width: 119px;
}

.number {
    max-width: 125px;
    flex-shrink: 2;
}

.name {
    width: 285px;
}

.add-inventory-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

mat-card {
    width: 500px;
}

