<mat-card>
<h4>Add Inventory</h4>
  <div class="add-inventory-row">
    <mat-form-field class="name">
      <input #newName disabled=true required matInput placeholder="Name" name="name" [value]="selectedItem?.name">
    </mat-form-field>
    <button class="find-button" type="button" mat-raised-button color="primary" (click)="showFindItemDialog()">
      <mat-icon>search</mat-icon> Find Item by Name
    </button>
  </div>
  <div class="distinct-add-panel">
    <app-json-editor-card [editTarget]="item" topic="Distinct Item"></app-json-editor-card>
    <button type="button" mat-raised-button color="primary" [disabled]="!newName.value" (click)="createInventory(selectedItem.id)"><mat-icon>add</mat-icon> Add Item</button>
  </div>
</mat-card>
