<h1 mat-dialog-title>Select wallet and enter password</h1>

<div mat-dialog-content>
  <form [formGroup]="mintForm">
    <div class="user-form-container">

      <div style="display: flex; justify-content: space-between; ">
        <mat-form-field>
          <input matInput placeholder="Wallet ID" name="walletId" formControlName="walletId">
        </mat-form-field>
        <div mat-dialog-actions>
          <button type="button" (click)="showSelectWalletDialog()" mat-raised-button>Select
            Wallet</button>
        </div>
      </div>


      <mat-form-field>
          <mat-label>Wallet Password</mat-label>
        <input matInput placeholder="Wallet Password" name="password" formControlName="password">
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="close(true)" [disabled]="!mintForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="close(false)">Cancel</button>
</div>
