<div class="omni-chain-wallets-dialog">
  <div class="dialog-title" *ngIf="!wallet">Create Wallet</div>
  <div class="dialog-title" *ngIf="wallet">Edit Wallet</div>
  <div class="dialog-error" *ngIf="error">
    <mat-error>{{error}}</mat-error>
  </div>
  <div class="name-api">
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input
        matInput
        placeholder="Name"
        name="displayName"
        type="text"
        [value]="displayName"
        (input)="displayName = $event.target.value"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label class="label">API</mat-label>
      <mat-select class="select" [value]="api" [disabled]="wallet" (selectionChange)="changeApi($event.value)">
        <mat-option *ngFor="let api of apis" [value]="api.value">
          {{api.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="vaults-search">
    <mat-form-field>
      <mat-label>Vault ID</mat-label>
      <input
        matInput
        placeholder="ID"
        name="vaultId"
        type="text"
        [disalbed]="wallet"
        [value]="vaultId"
        (input)="vaultId = $event.target.value"
        readonly
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vault Name</mat-label>
      <input
        matInput
        placeholder="Vault Name"
        name="vaultName"
        type="text"
        [disalbed]="wallet"
        [value]="vaultName"
        readonly
      >
    </mat-form-field>
    <div></div>
  </div>
  <div class="networks">
    <div class="networks__title">Networks</div>
    <div class="networks__checkboxes">
      <mat-checkbox (change)="toggleNetwork('ETHEREUM')" [checked]="isNetworkSelected('ETHEREUM')" [disabled]="isNetworkDisabled('ETHEREUM')">ETHEREUM</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('ETHEREUM_TEST')" [checked]="isNetworkSelected('ETHEREUM_TEST')" [disabled]="isNetworkDisabled('ETHEREUM_TEST')">ETHEREUM_TEST</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('BSC')" [checked]="isNetworkSelected('BSC')" [disabled]="isNetworkDisabled('BSC')">BSC</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('BSC_TEST')" [checked]="isNetworkSelected('BSC_TEST')" [disabled]="isNetworkDisabled('BSC_TEST')">BSC_TEST</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('POLYGON')" [checked]="isNetworkSelected('POLYGON')" [disabled]="isNetworkDisabled('POLYGON')">POLYGON</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('POLYGON_TEST')" [checked]="isNetworkSelected('POLYGON_TEST')" [disabled]="isNetworkDisabled('POLYGON_TEST')">POLYGON_TEST</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('FLOW')" [checked]="isNetworkSelected('FLOW')" [disabled]="isNetworkDisabled('FLOW')">FLOW</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('FLOW_TEST')" [checked]="isNetworkSelected('FLOW_TEST')" [disabled]="isNetworkDisabled('FLOW_TEST')">FLOW_TEST</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('NEO')" [checked]="isNetworkSelected('NEO')" [disabled]="isNetworkDisabled('NEO')">NEO</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('NEO_TEST')" [checked]="isNetworkSelected('NEO_TEST')" [disabled]="isNetworkDisabled('NEO_TEST')">NEO_TEST</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('SOLANA')" [checked]="isNetworkSelected('SOLANA')" [disabled]="isNetworkDisabled('SOLANA')">SOLANA</mat-checkbox>
      <mat-checkbox (change)="toggleNetwork('SOLANA_TEST')" [checked]="isNetworkSelected('SOLANA_TEST')" [disabled]="isNetworkDisabled('SOLANA_TEST')">SOLANA_TEST</mat-checkbox>
    </div>
  </div>
  <div class="footer">
    <div class="footer__modal-controls">
      <button mat-raised-button color="primary" (click)="submit()" [disabled]="isSubmitDisabled">OK</button>
      <button mat-raised-button (click)="close()">Cancel</button>
    </div>
    <button mat-raised-button color="primary" (click)="openWalletAccountsDialog()">Accounts...</button>
    <div class="footer__id" *ngIf="wallet">id: {{wallet.id}}</div>
  </div>
</div>
