.new-mission {
  background: #f7f7f7;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
}

mat-form-field {
  flex-grow: 1;
  width: 100%;
  margin-right: 60px;
}

h2 {
  font-size: 18px;
  width: 100%;
}

button {
  flex-grow: 0;
  flex-shrink: 0;
  height: auto;
}

.mb-20 {
  margin-bottom: 20px;
}



