<div class="schedule-events-dialog">
  <h1 mat-dialog-title>{{data.isNew ? "Add" : "Edit"}} missions for event</h1>

  <div mat-dialog-content>
      <div class="mb-20">
        <button mat-raised-button color="primary" (click)="addMission()" class="prof-form-field">
          <mat-icon>search</mat-icon> Add Mission
        </button>
      </div>

    <mat-table class="data-table mb-20 mat-elevation-z8" [dataSource]="currentMissionNames">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Mission name</mat-header-cell>
        <mat-cell *matCellDef="let name">{{name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete-action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let name">
          <button mat-raised-button color="primary" (click)="removeMission(name)">Remove</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>

  </div>

  <div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="close(true)" [disabled]="!this.missionsSet()">Done</button>
  </div>

</div>
