<div style="display: flex; justify-content: space-between;">
  <h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} Auth</h1>
</div>

<div mat-dialog-content>

  <form [formGroup]="oidcAuthSchemeForm">
    <div class="form-container">
      <div>

        <!--Issuer Entry-->
        <mat-form-field class="full">
          <input autofocus matInput placeholder="Issuer (URL)" name="issuer" formControlName="issuer"
            matTooltip="The JWT issuer for the scheme. Must be unique.">
        </mat-form-field>

        <!--Keys URL Entry-->
        <mat-form-field class="full">
          <input autofocus matInput placeholder="Keys URL" name="keysUrl" formControlName="keysUrl"
                 matTooltip="The URL for retrieving the public keys with which to verify the signature of any JWTs created by the issuer for this scheme.">
        </mat-form-field>

        <!--Media Type Entry-->
        <mat-form-field class="full">
          <input autofocus matInput placeholder="Media Type" name="mediaType" formControlName="mediaType"
                 matTooltip="The JWT issuer for the scheme. Must be unique.">
        </mat-form-field>

        </div>


      <!--Keys Entry-->
      <div class="card-header">
        <button type="button" mat-raised-button color="primary" (click)="addKey()">Add Key</button>
      </div>

      <div class="form-container">

          <mat-expansion-panel class="prelim-wrapper" cdkDragLockAxis="y" cdkDrag *ngFor="let jwk of keys; let i = index" [expanded]="true">

            <div class="card-header">
              Key {{i + 1}}
            </div>


            <div class="form-row">
              <mat-form-field>
                <input matInput placeholder="Key id (unique)" name="kid" value="{{jwk.kid}}" (change)="updateKey(jwk, i, 'kid', $event)">
              </mat-form-field>

              <button mat-raised-button class="delete-button" color="primary" (click)="deleteKey(i)" matTooltip="Remove" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </div>


            <mat-form-field class="row-half">
              <input matInput placeholder="Algorithm (e.g. RS256)" name="alg" value="{{jwk.alg}}" (change)="updateKey(jwk, i, 'alg', $event)">
            </mat-form-field>

            <mat-form-field class="row-half">
              <input matInput placeholder="Key type (e.g. RSA)" name="kty" value="{{jwk.kty}}" (change)="updateKey(jwk, i, 'kty', $event)">
            </mat-form-field>

            <mat-form-field class="row-half">
              <input matInput placeholder="Use (e.g. sig)" name="use" value="{{jwk.use}}" (change)="updateKey(jwk, i, 'use', $event)">
            </mat-form-field>

            <mat-form-field class="row-half">
              <input matInput placeholder="E (base64url encoded exponent)" name="e" value="{{jwk.e}}" (change)="updateKey(jwk, i, 'e', $event)">
            </mat-form-field>

            <mat-form-field class="full">
              <input matInput placeholder="N (pub key modulus)" name="n" value="{{jwk.n}}" (change)="updateKey(jwk, i, 'n', $event)">
            </mat-form-field>

          </mat-expansion-panel>

      </div>

    </div>
  </form>
</div>

<div mat-dialog-actions>
  <span>

    <button type="button" mat-raised-button (click)="close(true)" [disabled]="!oidcAuthSchemeForm.valid">OK</button>
    <button type="button" mat-raised-button (click)="close(false)">Cancel</button>
  </span>
  <span *ngIf="!data.isNew" style="display: flex; flex-direction: column;" class="mat-small">
    <span>id: {{!data.isNew ? data.authScheme.id : ""}}</span>
  </span>
</div>
