.omni-chain-wallets-dialog {
  width: 520px;
  padding: 20px 45px 45px 45px;
}

.dialog-title {
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.name-api {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  margin-top: 25px;
}

.vaults-search {
  display: grid;
  grid-template-columns: 0.6fr 1fr 50px;
  column-gap: 18px;
  align-items: center;
}

.networks {
  margin-top: 32px;
}

.networks .networks__title {
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin-bottom: 12px;
}

.networks .networks__checkboxes {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 16px;
  row-gap: 8px;
}

.footer {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer .footer__modal-controls {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 22px;
}

.footer__id {
  position: absolute;
  bottom: -30px;
  right: 0px;
}
