<h1>
  <span>Edit Product Bundle</span>
  <span><mat-checkbox checked></mat-checkbox> Display</span>
</h1>

<form [formGroup]="productBundleForm">
  <div class="item-form-row">
    <mat-form-field>
      <input autofocus matInput placeholder="Product ID" name="productId" formControlName="productId">
      <mat-error *ngIf="productBundleForm.controls.productId.hasError('required')">Product ID is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Display Name" name="displayName" formControlName="displayName">
      <mat-error *ngIf="productBundleForm.controls.displayName.hasError('required')">Display Name is required</mat-error>
    </mat-form-field>
  </div>

  <div class="item-form-row">
    <mat-form-field>
      <input matInput placeholder="Description" name="description" formControlName="description">
      <mat-error *ngIf="productBundleForm.controls.description.hasError('required')">Description is required</mat-error>
    </mat-form-field>
  </div>
</form>

<app-json-editor-card [editTarget]="data.productBundle" topic="Product Bundle"></app-json-editor-card>
