.metadata-row {
    display: flex;
    justify-content: left;
}

mat-form-field {
  flex-grow: 1;
  margin-right: 0px;
}

.key-field {
  min-width: 150px;
  margin-right: 10px;
}

.quantity {
  flex-shrink: 2;
  max-width: 100px;
}

button {
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
}
