<div>
  <div class="dialog-updated-header">
    <div class="disalog-updated-title">New NFT Definition</div>
    <div class="dialog-update-haader__info">
      <mat-form-field class="header__form-field">
        <mat-label>Contract</mat-label>
        <mat-select
          name="contracts"
          placeholder="Contract"
          [value]="selectedContract?.id"
          [disabled]="data.token?.id"
          (selectionChange)="selectContract($event.value)"
        >
          <mat-option
            *ngFor="let contract of contracts"
            [value]="contract.id"
            [matTooltip]="contract.displayName"
            matTooltipPosition="left"
          >
            {{contract.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="dialog-updated-name">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Definition Name"
        name="definitionname"
        type="text"
        [value]="name"
        (input)="changeName($event.target.value)"
      >
    </mat-form-field>
  </div>
  <div class="dialog-updated-footer">
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="!selectedContract || !name"
    >
      Ok
    </button>
    <button
      class="dialog-updated-footer__cancel"
      mat-raised-button
      (click)="close()"
    >
      Cancel
    </button>
  </div>
</div>
