<div class="applicationConfigurations-list">
  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field>
    <input matInput placeholder="Search" #input>
  </mat-form-field>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="addMenu" >Add...</button>

  <mat-menu #addMenu="matMenu">
    <a mat-menu-item (click)="addApplicationConfiguration('FACEBOOK')">Add Facebook</a>
    <a mat-menu-item (click)="addApplicationConfiguration('FIREBASE')">Add Firebase</a>
  </mat-menu>

  <button mat-raised-button color="primary" (click)="deleteSelectedApplicationConfigurations()" [disabled]="!hasSelection">Delete Selected</button>

  <mat-table class="applicationConfigurations-table mat-elevation-z8" [dataSource]="dataSource" >

    <ng-container matColumnDef="select" >
      <mat-header-cell fxFlex="75px" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell fxFlex="75px" *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Profile Id</mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">{{applicationConfiguration.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">{{applicationConfiguration.category}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="uniqueIdentifier">
      <mat-header-cell *matHeaderCellDef>Unique Identifier</mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">{{applicationConfiguration.uniqueIdentifier}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let applicationConfiguration">
        <button mat-raised-button color="primary" (click)="editApplicationConfiguration(applicationConfiguration)">Edit</button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="deleteApplicationConfiguration(applicationConfiguration)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
