<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REMOTE-CALL-TRACE" class="ch.qos.logback.core.FileAppender">
        <file>remote-call-trace.csv</file>
        <append>false</append>
        <encoder>
            <pattern>%-4relative,%X{JeroMQRemoteInvocation.uid},[%thread],%X{JeroMQRemoteInvocation.details},%msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Turn this to level trace to see a complete tracing of all calls and steps made making the calls. Enabling this
         is terribly detrimental to performance so it's not enabled by default.
      -->
    <logger name="com.namazustudios.socialengine.rt.remote.jeromq.JeroMQRemoteInvocation.trace" level="debug">
        <appender-ref ref="REMOTE-CALL-TRACE" />
    </logger>

</configuration>
