<div class="data-list tab">
<!--  <div class="spinner-container" *ngIf="dataSource.loading$ | async">-->
<!--    <mat-spinner></mat-spinner>-->
<!--  </div>-->

  <section style="display: grid; justify-content: space-between; margin: 10px auto;">
    <div>
      <mat-form-field>
        <input matInput placeholder="Search Specs" #input>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="showDialog(null)">
        New Metadata Spec
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="confirmSelectedTemplatesRemove()"
        [disabled]="!hasSelection"
      >
        Delete Selected
      </button>
      <button mat-raised-button color="primary" (click)="confirmRebuildDialog()">
        Reindex
      </button>
    </div>
  </section>
  <mat-table class="data-table mat-elevation-z8" [dataSource]="dataSource">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let template">
        <span class="truncate-text-right">{{template.id}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let template">
        {{template.name}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let template">
        <button mat-raised-button color="primary" (click)="showDialog(template)">Edit</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="copy-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let template">
        <button
          mat-raised-button
          color="primary"
          matTooltip="Duplicate Metadata Spec"
          matTooltipPosition="above"
          (click)="openDuplicateModal(template)"
        >
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove-action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let template">
        <button
          mat-raised-button
          color="primary"
          (click)="confirmTemplateRemove(template)"
          matTooltip="Remove"
          matTooltipPosition="above"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
