<h1 mat-dialog-title>{{data.isNew ? "New" : "Edit"}} User</h1>

<div mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="user-form-container">
      <mat-form-field>
        <input matInput placeholder="Username" name="name" formControlName="name">
        <mat-error *ngIf="userForm.controls.name.hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="userForm.controls.name.hasError('pattern')">Username must consist only of alphanumeric
          characters</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" name="email" formControlName="email">
        <mat-error *ngIf="userForm.controls.email.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="userForm.controls.email.hasError('email')">Email must be a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Linked Accounts"  name="Linked Accounts" formControlName="linkedAccounts">
        <ul><li *ngFor="let item of data.user.linkedAccounts">{{ item | lastSegmentCapitalize }}</li></ul>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" name="password" formControlName="password"
          [type]="hidePassword1 ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword1 = !hidePassword1">
          {{hidePassword1 ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="userForm.controls.password.hasError('required')">Password is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password Confirmation" name="passwordConfirmation"
          formControlName="passwordConfirmation" [type]="hidePassword2 ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword2 = !hidePassword2">
          {{hidePassword2 ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="userForm.controls.passwordConfirmation.hasError('required')">Password confirmation is required
        </mat-error>
        <mat-error *ngIf="userForm.controls.passwordConfirmation.hasError('passwordMatch')">Password confirmation does
          not match</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="User Level" name="level" formControlName="level">
          <mat-option *ngFor="let userLevel of userLevels" [value]="userLevel.key">
            {{userLevel.description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.controls.level.hasError('required')">User level is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button (click)="close(userForm.value)" [disabled]="!userForm.valid">OK</button>
  <button type="button" mat-raised-button (click)="close()">Cancel</button>
</div>
