<div class="omni-chain-contracts-dialog">
  <div class="dialog-head">
    <div class="dialog-head__title" *ngIf="!contract">Create Contract</div>
    <div class="dialog-head__title" *ngIf="contract">Edit Contract</div>
    <div class="dialog-head__name">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Name"
          name="name"
          type="text"
          [value]="name"
          (input)="name = $event.target.value"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Display Name</mat-label>
        <input
          matInput
          placeholder="Name"
          name="name"
          type="text"
          [value]="displayName"
          (input)="displayName = $event.target.value"
        >
      </mat-form-field>
    </div>
    <div class="dialog-head__vault">
      <mat-form-field>
        <mat-label>Vault ID</mat-label>
        <input
          matInput
          placeholder="ID"
          type="text"
          [value]="vaultId"
          (input)="vaultId = $event.target.value"
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Vault Name</mat-label>
        <input
          matInput
          placeholder="Vault Name"
          name="vaultName"
          type="text"
          [value]="vaultName"
          (input)="vaultName = $event.target.value"
          readonly
        >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="openVaultsSearchDialog()">Search</button>
    </div>
  </div>
  <div class="dialog-body">
    <mat-tab-group>
      <mat-tab label="Contract Addresses" >
        <div class="dialog-body__tab">
          <mat-card>
            <div class="dialog-body__address-row" *ngFor="let address of addresses">
              <mat-form-field>
                <mat-label class="label">Encryption Algorithm</mat-label>
                <mat-select class="select" [value]="address.network" (selectionChange)="changeNetwork($event)">
                  <mat-option *ngFor="let network of networks" [value]="network">
                    {{network}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input
                  matInput
                  placeholder="Address"
                  type="text"
                  [value]="address.address"
                >
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                (click)="removeAddress(address)"
              >
                -
              </button>
            </div>
            <div class="dialog-body__address-row">
              <mat-form-field>
                <mat-label class="label">Encryption Algorithm</mat-label>
                <mat-select class="select" [value]="newNetwork" (selectionChange)="changeNewNetwork($event.value)">
                  <mat-option *ngFor="let network of availableNetworks" [value]="network">
                    {{network}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Address</mat-label>
                <input
                  matInput
                  placeholder="Address"
                  type="text"
                  [value]="newAddress"
                  (input)="changeNewAddress($event.target.value)"
                >
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                [disabled]="!newNetwork || !newAddress"
                (click)="addNewAddress()"
              >
                +
              </button>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Metadata">
        <div class="dialog-body__tab">
          <mat-card>
            <div class="dialog-body__address-row" *ngFor="let item of metadata">
              <mat-form-field>
                <mat-label>Key</mat-label>
                <input
                  matInput
                  placeholder="Key"
                  type="text"
                  [value]="item.key"
                >
              </mat-form-field>
              <mat-form-field>
                <mat-label>Value</mat-label>
                <input
                  matInput
                  placeholder="Value"
                  type="text"
                  [value]="item.value"
                >
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                (click)="removeMetadata(item.key)"
              >
                -
              </button>
            </div>
            <div class="dialog-body__address-row">
              <mat-form-field>
                <mat-label>Key</mat-label>
                <input
                  matInput
                  placeholder="Key"
                  type="text"
                  [value]="newKey"
                  (input)="changeNewKey($event.target.value)"
                >
              </mat-form-field>
              <mat-form-field>
                <mat-label>Value</mat-label>
                <input
                  matInput
                  placeholder="Value"
                  type="text"
                  [value]="newValue"
                  (input)="changeNewValue($event.target.value)"
                >
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                (click)="addNewMetadata()"
                [disabled]="!newKey || !newValue || isKeyUsed()"
              >
                +
              </button>
            </div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="dialog-footer">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="isSubmitDisabled">OK</button>
    <button mat-raised-button (click)="close()">Cancel</button>
    <div class="dialog-footer__id" *ngIf="contract">id: {{contract.id}}</div>
  </div>
</div>
