.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  font-weight: 500;

  align-items: center;
}

form {
  margin-bottom: 25px;
}

.step-wrapper:first-child {
  margin-bottom: 15px;
}

.prelim-wrapper {
  margin-bottom: 15px;
}

mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

mat-expansion-panel-header .mat-content {
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel-header .mat-icon {
  flex-grow: 0;
  flex-shrink: 0;
}

.step-num {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 10px;
}

.no-drag .step-num {
  margin-left: 0;
}

.step-name {
  flex-grow: 1;
  flex-shrink: 1;
}

.step-count {
  width: 80px;
  flex-grow: 0;
  flex-shrink: 0;

  margin-right: 10px;
}

.step-count b {
  margin-right: 10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.prelim-steps.cdk-drop-list-dragging .prelim-step:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-row {
  display: flex;
}

mat-form-field {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  margin-right: 80px;
}

mat-form-field:first-of-type {
  width: 70%;
  flex-shrink: 0;
}

mat-form-field:last-of-type {
  margin-right: 0;
}

.step h1 {
  font-size: 16px;
}

.metadata-row {
  display: flex;
  justify-content: left;
}

.metadata-row button {
  box-sizing: border-box;
  min-width: 0;
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

.add-reward-button {
  visibility: hidden;
  display: none;
}

.no-margin {
  margin: 0;
}
