#token-id {
    font-size: 12px;
    text-align: right;
    padding-top: 20px;
}
.content-container {
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
}
.content-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
.content-container::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .4);
}

.mat-list .mat-list-item {
    font-size: 14px;
    height: unset;
    padding: 5px 0;
}
.mat-list .mat-list-item .item-content {
    display: flex;
    width: 100%;
}
.mat-list .mat-list-item .item-content.sub-item .label {
    padding-left: 25px;
    font-weight: 400;
}
.mat-list .mat-list-item .item-content .label {
    flex: 1;
    font-weight: 500;
}
.mat-list .mat-list-item .item-content .content {
    width: 60%;
    padding-left: 10px;
}
.mat-list .mat-list-item .item-content .content .sub-content {
    width: 100%;
    border-bottom: 1px solid #d5d7ff;
}
.mat-list .mat-list-item .item-content .content .sub-content:last-child {
    border-bottom: none;
}
.mat-list .mat-list-item .item-content .content .tag {
    padding: 3px 5px;
    background-color: #cdcdcd;
    display: inline-flex;
    border-radius: 10px;
    margin-right: 10px;
}
.mat-list .mat-list-item .item-content .content .sub-content .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.mat-list .mat-list-item .item-content .content .sub-content .item caption {
    background-color: #d5d7ff;
    padding: 2px 3px;
    min-width: 45px;
    text-align: right;
    margin-right: 5px;
}
.mat-list .mat-list-item .item-content .content .sub-content .mat-icon {
    font-size: 16px;
    cursor: pointer;
    color: black;
    position: relative;
    top: 4px;
}